<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<!--     Chrome, Firefox OS and Opera  -->
	<meta name="theme-color" content="#ee3158" />
	<!-- 	    Windows Phone  -->
	<meta name="msapplication-navbutton-color" content="#ee3158" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="favicon.ico" />
	<!-- 	    iOS Safari  -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style"
		content="black-transcluent" />
	<!--     IE-Support -->
	<script src="assets/js/ie-support.min.js" defer="defer"></script>
	<!-- 	     css-files  -->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/css/swiper.min.css" />
	<link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
	<link rel="stylesheet" href="assets/css/aos.min.css" />
	<link rel="stylesheet" href="assets/css/fonts.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link href="assets/img/favicon1.png" rel="icon" />
	<link href="assets/css/style-responsive.css" rel="stylesheet" />
	<link href="assets/css/font-awesome/releases/v5.10.2/css/pro.min.css"
		rel="stylesheet" />
	<link href="assets/css/style_perso.css" rel="stylesheet" />
	<link href="assets/css/try_animate.css" rel="stylesheet" />
	<!-- Bootstrap core CSS -->
	<link href="assets/css/bootstrap.min.projet3.css" rel="stylesheet" />
	<!-- 	 SCRIPT DASHIO  -->
	<meta name="description" content="" />
	<meta name="author" content="Dashboard" />
	<ui:insert name="scripts" />
</h:head>
<h:body>
	<!-- Loader -->
	<div class="loader">
		<div class="loading">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- Modal -->
	<h:panelGroup layout="block" styleClass="modal fade" id="login"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true"
		rendered="#{managedBeanPersonne.dtoPersonne == null}">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<h:form id="form-login">
					<div class="modal-header bg-danger">
						<h5 class="modal-title" id="exampleModalLongTitle">Se
							connecter</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h:outputLabel style="color: red;" id="messageInfo"
							value="#{managedBeanPersonne.message}" />
						<h:inputText class="form-control" a:placeholder="Identifiant"
							autofocus="true" value="#{managedBeanPersonne.mail}" />
						<br />
						<h:inputSecret class="form-control" a:placeholder="Mot de passe"
							value="#{managedBeanPersonne.motPasse}" />
						<br />
						<a href="ChoixEspace.xhtml" type="link">Vous n'êtes pas encore
							inscrit ? Cliquez ici pour créer un compte !</a>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Annuler</button>
						<h:commandButton action="#{managedBeanPersonne.SeConnecter()}"
							value="Confirmer"
							class="btn btn-primary bg-danger border border-danger">
							<f:ajax execute="@form" render=":form-login:messageInfo"></f:ajax>
						</h:commandButton>
					</div>
				</h:form>
			</div>
		</div>
	</h:panelGroup>
	<!-- en tete -->
	<nav class="navigation navigation-type-1">
	<div style="justify-content: space-around;"
		class="inner-wrapper">
		<div class="left-side">

			<div class="logotype-wrapper">
				<a href="Accueil.xhtml">
					<img src="assets/img/logo/LOGO.png" alt="Logo" />
				</a>
			</div>
		</div>
		<div class="navigation-panel-wrapper">
			<div style="margin-inline-end: 97em;" class="menu-toggle-wrapper">
				<div class="menu-toggle">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<!-- Début dropdownlist -->
			<ul class="nav top-menu">
				<li id="header_notification_bar" class="dropdown">
					<h:panelGroup rendered="#{managedBeanPersonne.dtoPersonne != null}">
						<a data-toggle="dropdown" class="dropdown-toggle">
							<i class="fa fa-bell"> </i>
							<span style="background-color: #ee3158;" class="badge bg-warning">#{managedBeanSuiviRecommandation.nombreRecommandations}</span>
						</a>
						<ul style="margin-top: 5%; margin-left: 3px;"
							class="dropdown-menu extended notification">
							<h:panelGroup layout="block" id="toto">
								<h:form id="from-notifs">
									<li>
										<p class="yellow">Vous avez
											#{managedBeanSuiviRecommandation.nombreRecommandations}
											demande(s) de recommandation</p>
									</li>
									<ui:repeat var="recommandation"
										value="#{managedBeanSuiviRecommandation.recommandations}">
										<li style="border: 2px !important">
											<a style="border-bottom: 5px !important">
												De : #{recommandation.coopteur.nom}
												<br />
												<span>Pour l'offre :
													#{recommandation.offre.poste.libelle}</span>
												<br />
												<span>
													<i class="fas fa-map-pin"></i>
													&nbsp;
													#{recommandation.offre.entreprise.adresseSiege.ville.libelle}
												</span>
												<h:commandLink
													action="#{managedBeanSuiviCooptation.updateEtatSuiviCooptationValid(recommandation)}"
													style="color:white; background-color:green; width:28px; height:25px; padding:0px !important"
													styleClass="btn btn-theme date-set">
													<i class="fas fa-check"></i>
													<f:ajax execute="@form" render="toto"></f:ajax>
												</h:commandLink>
												&nbsp;
												<h:commandLink
													action="#{managedBeanSuiviCooptation.updateEtatSuiviCooptationRefus(recommandation)}"
													style="color:white; background-color:red; width:28px; height:25px; padding:0px !important"
													styleClass="btn btn-theme date-set">
													<i class="fas fa-times"></i>
													<f:ajax execute="@form" render="toto"></f:ajax>
												</h:commandLink>
											</a>
										</li>
									</ui:repeat>
								</h:form>
							</h:panelGroup>
						</ul>
					</h:panelGroup>
				</li>
			</ul>
			<!-- User login -->
			<h:form id="form-icon-login">
				<ul class="social-list">
					<!-- Pour se co -->
					<li class="IconLogin">
						<h:panelGroup
							rendered="#{managedBeanPersonne.dtoPersonne == null}">
							<h:commandLink action="#{managedBeanPersonne.resetMessage()}"
								a:data-toggle="modal" a:data-target="#login">
								<i class="fas fa-user show-icon"></i>
								<f:ajax render=":form-login:messageInfo"></f:ajax>
								<i class="fas fa-user hide-icon" style="color: #EA4C89;"></i>
							</h:commandLink>
						</h:panelGroup>
					</li>
					<!-- Pour se déco -->
					<li class="IconLogin">
						<h:panelGroup
							rendered="#{managedBeanPersonne.dtoPersonne != null}">
							<h:commandLink action="#{managedBeanPersonne.deco()}">
								<i class="fas fa-power-off show-icon"></i>
								<i class="fas fa-power-off hide-icon" style="color: #EA4C89;"></i>
							</h:commandLink>
						</h:panelGroup>
					</li>
				</ul>
			</h:form>
			<!-- Fin dropdownlist -->

		</div>
	</div>
	<div class="search-form-wrapper">
		<div class="search-form">
			<div class="form-wrapper">
				<form role="search">
					<input type="search" class="search-field"
						placeholder="Enter some keywords..."
						title="Enter some keywords..." />
					<h:commandButton type="submit" class="search-submit">
						<i class="icofont-search"></i>
					</h:commandButton>
				</form>
				<div class="search-form-close">
					<i class="far fa-times-circle"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- menu hamburger -->
	<div class="menu-list-panel">
		<div class="menu-toggle-close">
			<i class="far fa-times-circle"></i>
		</div>
		<h:form id="form-menus">
			<div class="menu-list-wrapper" data-back-link="retour">
				<ul class="menu-list">
					<li class="menu-item ">
						<a style="text-decoration: none;" href="Accueil.xhtml">Accueil</a>
					</li>
					<li class="menu-item ">
						<a style="text-decoration: none;" href="Offres.xhtml">Offres</a>
					</li>
					<li class="menu-item ">
						<h:panelGroup
							rendered="#{managedBeanPersonne.dtoPersonne == null}">
							<h:commandLink action="#{managedBeanPersonne.resetMessage()}"
								value="Espaces" a:data-toggle="modal" a:data-target="#login"
								style="text-decoration: none;">
								<f:ajax render=":form-login:messageInfo"></f:ajax>
							</h:commandLink>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{managedBeanPersonne.dtoPersonne != null}">
							<h:commandLink style="text-decoration: none;"
								action="#{managedBeanPersonne.nav()}" value="Espaces"></h:commandLink>
						</h:panelGroup>
					</li>
					<li class="menu-item ">
						<a>A propos</a>
					</li>
					<li class="menu-item ">
						<a>Contact</a>
					</li>
					<li class="menu-item">
						<h:panelGroup
							rendered="#{managedBeanPersonne.dtoPersonne != null}">
							<h:commandLink style="text-decoration: none;"
								action="#{managedBeanPersonne.deco()}" value="Se deconnecter"></h:commandLink>
						</h:panelGroup>
					</li>
				</ul>
			</div>
		</h:form>
		<div class="copyright-wrapper"></div>
	</div>
	</nav>
	<ui:insert name="content" />
	<!-- Footer -->
	<footer>
	<div class="container-fluid footer-inner">
		<div class="footer-top">
			<div class="container footer-top-inner"></div>
		</div>
		<div class="footer-body">
			<div class="container">
				<div class="footer-sidebar">
					<div class="row">
						<div class="col-lg-4">
							<div class="sidebar-widget text-widget">
								<h6 class="sidebar-title">A propos</h6>
								<!-- texte a propos de ... -->
								<p>RestoJob généralise le principe du recrutement
									collaboratif et le développe à une échelle inédite, grâce à
									notre plateforme digitale. Depuis 2019, RestoJob propose une
									plateforme de recrutement basée sur la cooptation dans le
									secteur de la restauration.</p>
								<h6 class="sidebar-title">Souscrire à la newsletter</h6>
								<form class="newsletter-form-widget">
									<input type="email" placeholder="Email*" required="required" />
									<h:commandButton type="submit">
										<i class="fa fa-envelope"></i>
									</h:commandButton>
								</form>
							</div>
						</div>
						<!-- Nos dernières offres ... -->
						<div class="col-lg-4">
							<div class="sidebar-widget latest-posts-widget">
								<h6 class="sidebar-title">Nos dernières offres</h6>
								<ul class="post-list">
									<li class="post">
										<a href="#">
											<div class="img-wrapper">
												<img
													src="https://cdn.pixabay.com/photo/2016/11/18/15/31/cooking-1835369_960_720.jpg"
													alt="img" class="img-fluid" />
											</div>
										</a>
										<div class="post-body">
											<h6 class="post-title">
												<a href="#">Commis[H/F]</a>
											</h6>
											<div class="description-box">
												<p class="date">
													25 Septembre 2019 | de
													<a href="#">Gordon Ramsey Industries</a>
												</p>
											</div>
										</div>
									</li>
									<li class="post">
										<a href="#">
											<div class="img-wrapper">
												<img
													src="https://cdn.pixabay.com/photo/2017/07/28/14/29/macarons-2548827_960_720.jpg"
													alt="" class="img-fluid" />
											</div>
										</a>
										<div class="post-body">
											<h6 class="post-title">
												<a href="#">Maître Pâtissier[H/F]</a>
											</h6>
											<div class="description-box">
												<p class="date">
													24 Septembre 2019 | de
													<a href="#">Robuchon</a>
												</p>
											</div>
										</div>
									</li>
									<li class="post">
										<a href="#">
											<div class="img-wrapper">
												<img
													src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_960_720.jpg"
													alt="" class="img-fluid" />
											</div>
										</a>
										<div class="post-body">
											<h6 class="post-title">
												<a href="#">Majordome[H]</a>
											</h6>
											<div class="description-box">
												<p class="date">
													23 Septembre 2019 | de
													<a href="#">Royal Monceau</a>
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- Nous contacter ... -->
						<div class="col-lg-4">
							<div class="sidebar-widget contact-info-widget">
								<h6 class="sidebar-title">Nous contacter</h6>
								<p class="description">RestoJob, plateforme innovante de
									recrutement par recommandation et spécialiste du recrutement
									dédié au secteur de la restauration est à votre service.</p>
								<ul class="contact-info">
									<li>
										<i class="fa fa-map-marker"></i>
										<p>5 rue Danton, Malakoff, France</p>
									</li>
									<li>
										<i class="fa fa-envelope"></i>
										<a href="mailto:">RestoJob@restojob.com</a>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										<a href="#">01 48 25 26 27</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-wrapper">
			<p class="copyright">
				<i class="fa fa-copyright"></i>
				2019 RestoJob All rights reserved.
			</p>
		</div>
	</div>
	</footer>
</h:body>
<!-- Pour les scripts js spécifiques des pages -->
<!-- JS FRONT -->
<!-- js-files -->
<!-- JQuery -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- AOS -->
<script src="assets/js/aos.min.js"></script>
<!-- Parallax -->
<script src="assets/js/parallax.min.js"></script>
<!-- Progress Bars -->
<script src="assets/js/progressbar.min.js"></script>
<!-- Magnific -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Three -->
<script src="assets/js/three.min.js"></script>
<!-- Projector -->
<script src="assets/js/projector.min.js"></script>
<!-- Renderer -->
<script src="assets/js/canvas-renderer.min.js"></script>
<!-- ImageLoaded -->
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<!-- Anime -->
<script src="assets/js/anime.min.js"></script>
<!-- Isotope -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!-- TweenLite -->
<script src="assets/js/TweenMax.min.js"></script>
<!-- Hover3D -->
<script src="assets/js/jquery.hover3d.min.js"></script>
<!-- EasePack -->
<script src="assets/js/EasePack.min.js"></script>
<!-- Particles -->
<script src="assets/js/particles.min.js"></script>
<!-- JSColor -->
<script src="assets/js/jscolor.min.js"></script>
<!-- YoutubeBackground -->
<script src="assets/js/jquery.youtubebackground.min.js"></script>
<!-- Waypoints -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<!-- Swiper -->
<script src="assets/js/swiper.min.js"></script>
<!-- Main JS-file -->
<script src="assets/js/main.js"></script>
<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/lib/bootstrap/js/bootstrap.min.js"
	type="text/javascript"></script>
<script src="assets/lib/jquery.scrollTo.min.js" type="text/javascript"></script>
<script src="assets/lib/jquery.nicescroll.js" type="text/javascript"></script>
<script class="include" type="text/javascript"
	src="assets/lib/jquery.dcjqaccordion.2.7.js"></script>
<!--common script for all pages-->
<script src="assets/lib/common-scripts.js" type="text/javascript"></script>
<!--script for this page-->
<ui:insert name="scripts-footer" />
</html>
