// ToggleBox rouge


.container {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

    .ks-cboxtags td {
        display: inline;
    }

        .ks-cboxtags td label {
            display: inline-block;
            background-color: rgba(255, 255, 255, .9);
            border: 2px solid rgba(139, 139, 139, .3);
            color: black;
            border-radius: 25px;
            white-space: nowrap;
            margin: 3px 0px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            transition: all .2s;
        }

        .ks-cboxtags td label {
            padding: 8px 12px;
            cursor: pointer;
        }

            .ks-cboxtags td label::before {
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 12px;
                padding: 2px 6px 2px 2px;
                content: "\f067";
                transition: transform .3s ease-in-out;
            }

        .ks-cboxtags td input[type="checkbox"]:checked + label::before {
            content: "\f00c";
            transform: rotate(-360deg);
            transition: transform .3s ease-in-out;
        }

        .ks-cboxtags td input[type="checkbox"]:checked + label {
            border: 2px solid;
            background-color: rgb(238, 49, 88);
            color: #fff;
            transition: all .2s;
        }

        .ks-cboxtags td input[type="checkbox"] {
            display: absolute;
        }

        .ks-cboxtags td input[type="checkbox"] {
            position: absolute;
            opacity: 0;
        }

            .ks-cboxtags td input[type="checkbox"]:focus + label {
                border: 2px solid;
            }

