.post-image-side {
	flex-shrink: 1.15;
}

@media ( max-width :991px) {
	.post-image-side {
		margin-bottom: 30px;
		padding-right: 0;
	}
}

@media ( max-width :767px) {
	.post-image-side {
		margin-bottom: 15px;
	}
}

.img-wrapper {
	position: relative;
	display: block;
	height: 100%
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

img {
	border-style: none;
}

.post-list {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

@media ( max-width :767px) {
	.post-list {
		margin-bottom: 35px;
	}
}

.post-list .post-content-side {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	padding-left: 20px;
}

.post-list .post-content-side .post-title, .post-title {
	margin-bottom: 10px;
	font-weight: 700;
	color: var(- -black-color);
	font-size: 26px;
	font-family: var(- -secondary-font);
	line-height: 1.3;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

@media ( max-width :1199px) {
	.post-list .post-content-side .post-title, .post-title {
		font-size: 24px
	}
}

@media ( max-width :991px) {
	.post-list .post-content-side .post-title, .post-title {
		margin-bottom: 10px
	}
}

@media ( max-width :575px) {
	.post-list .post-content-side .post-title, .post-title {
		font-size: 20px
	}
}

.post-list .post-content-side .post-title:hover, .post-title {
	color: var(- -primary-color)
}

.post-list .post-content-side .description-box {
	margin-bottom: 15px;
	line-height: 1;
	font-size: 13px;
	font-weight: 500;
	font-family: var(- -secondary-font)
}

@media ( max-width :991px) {
	.post-list .post-content-side .description-box {
		margin-bottom: 5px
	}
}

.post-list .post-content-side .description-box a {
	color: var(- -black-color);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-weight: bold;
}

.post-list .post-content-side .description-box a:hover {
	color: var(- -primary-color)
}

.post-list .post-content-side .description-box p {
	color: var(- -primary-font-color);
	display: inline;
}

.post-list .post-content-side .description-box i {
	font-size: 12px;
	color: var(- -primary-font-color);
	margin-right: 10px
}

.post-list:not (:last-child ) {
	border-bottom: 1px solid var(- -default-border);
	padding-bottom: 50px
}

@media ( max-width :767px) {
	.post-list:not (:last-child ) {
		padding-bottom: 35px
	}
}

.post-list .img-wrapper {
	position: relative;
	display: block;
	height: 100%
}

.post-list .tag {
	position: absolute;
	top: 50px;
	left: 25px;
	z-index: 101;
	padding: 8px 18px;
	line-height: 1;
	border-radius: 5px;
	font-family: var(- -secondary-font);
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: .3px;
	margin: 0 10px 10px 0
}

@media ( max-width :991px) {
	.post-list .tag {
		right: 30px
	}
}

.bg-color-purple {
	background-color: #996ce9
}

.ligne {
	display: flex;
}

.description header {
	margin-bottom: 25px;
}

.description header div {
	display: inline-block;
	vertical-align: top;
}

.description footer * {
	display: inline-block;
	margin-left: 1em;
}

.etat-fonction {
	margin: auto;
	width: 75%;
}

.contact {
	border-top-color: #e2e2e2;
}

.intitule * {
	vertical-align: middle;
}

.intitule ul li {
	font-size: 1.2em;
	margin: 1em;
}

.intitule ul li, .col-md-9 ul li {
	display: inline-block;
}

.col-md-9 ul li:not (:last-child ) {
	margin-right: 1em;
}

.intitule ul li:not (:last-child ):after {
	content: "\f054";
	margin-left: 25px;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-size: 8px;
}

.blockquote-type-1 {
	border-left: 2px solid var(- -primary-color);
	padding: 20px 0 20px 40px;
}

.tags {
	margin: auto;
	width: 50%;
	padding: 1em;
}

.combo {
	display: inline-block;
	width: 45%;
	margin-bottom: 2em;
}

.intitule button {
	border: none;
	background-color: inherit;
	float: right;
}

table.form-control {
	border: none;
	box-shadow: none;
	color: inherit;
}

table.form-control td label {
	margin-right: 1em;
	margin-left: 0.2em;
}

.form-group * {
	vertical-align: top;
}

.activity-panel a, li a {
	color: black;
}

.activity-panel a:hover, li a:hover {
	color: #ee3158;
}

.title-counter {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .5px;
	font-family: var(- -secondary-font);
	margin-bottom: 15px;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-align: center
}

@media ( max-width :767px) {
	.title-counter {
		margin-bottom: 5px
	}
}

@media ( max-width :575px) {
	.title-counter {
		font-size: 12px;
		letter-spacing: normal
	}
}

.prop-obj {
	font-size: 50px;
	font-weight: 700;
	font-family: var(- -secondary-font);
	line-height: 1;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	letter-spacing: 2px
}

@media ( max-width :991px) {
	.prop-obj {
		font-size: 60px
	}
}

@media ( max-width :767px) {
	.prop-obj {
		font-size: 48px
	}
}

@media ( max-width :575px) {
	.prop-obj {
		font-size: 42px
	}
}

.list-type-2 li:last-child::before {
	content: "\f105"
}

.breadcrumbs .profile-pic {
	position: absolute;
	right: 0;
	margin: 2em;
	top: 0;
}

.breadcrumbs div h1, .breadcrumbs div h3, .breadcrumbs div h6,
	.breadcrumbs div p {
	color: white;
	text-align: center;
}

.breadcrumbs div p {
	font-weight: bold;
}

.button-white {
	border: 1px solid var(--default-border);
	color: #000;
	background-color: #fff;
	font-weight: 500;
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-block;
	line-height: 1;
	font-family: var(- -secondary-font);
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 4px;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
	z-index: 1;
	font-size: 11px;
	width: 30px;
	height: 30px;
}

.validation:after, .selection::after, .entretien::after, .recrutement::after
	{
	content: " ";
	display: block;
	position: absolute;
	top: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%
}

.validation:after {
	background-color: var(--primary-color);
}

.selection::after {
	background-color: var(--yellow);
}

.entretien::after {
	background-color: var(--orange);
}

.recrutement::after {
	background-color: var(--red);
}

.button-white:hover {
	border: 1px solid transparent;
	color: #fff
}

.button-white:hover:after {
	top: 0
}

.bg-color-pink {
	background-color: #ee3158;
}

.footer * {
	display: inline-block;
}

.footer p {
	margin-right: 1em;
}

.statistique {
	font-size: 24px;
}