﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" lang="fr">
<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<title>RestoJob</title>
		<!-- IE-Support -->
		<script src="assets/js/ie-support.min.js" defer="defer"></script>
		<!-- css-files -->
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/css/swiper.min.css" />
		<link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
		<link rel="stylesheet" href="assets/css/aos.min.css" />
		<link rel="stylesheet" href="assets/css/fonts.css" />
		<link rel="stylesheet" href="assets/css/check.css" />
		<link rel="stylesheet" href="assets/css/try_animate.css" />
		<link rel="stylesheet" href="assets/css/favorisCSS.css" />


	</ui:define>

	<ui:define name="content">




		<div style="overflow: hidden !important;" class="modal fade container"
			id="consulter" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<h:form id="coopter">
					<div class="modal-content">
						<div class="modal-header bg-danger">
							<h5 class="modal-title" id="exampleModalLongTitle">Connexion
								requise</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<a class="blockquote-type-1">Vous devez être connecté en tant
							que coopteur pour pouvoir consulter les offres.</a>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</h:form>
			</div>
		</div>
		<h:form id="form-accueil">
			<!-- [1] Page Loader -->
			<div id="main-wrapper" class="wrapper-hidden z-index-100">
				<!-- [2] Navigation-Menu -->
				<!-- [3] Hero-Header -->
				<section class="hero-header hero-default color_overlay bg_img">
				<div class="html-video">
					<video autoplay="true" muted="true" loop="true"> <source
						src="assets/video/Food - 24999.mp4" type="video/mp4" /> </video>
				</div>
				<div
					class="container hero-content hero-center d-flex align-items-center">
					<div class="content-default">
						<h1 style="font-size: 10em;"
							class="display-3 content-heading bold-heading z-index-100"
							data-aos="zoom-in" data-aos-delay="900"
							data-aos-easing="ease-in-out" data-aos-duration="700">
							Resto<span class="highlight">Job</span></h1>
						<h2 style="font-size: 3em;"
							class="display-3 content-heading bold-heading z-index-100"
							data-aos="zoom-in" data-aos-delay="900"
							data-aos-easing="ease-in-out" data-aos-duration="700">
							la première plateforme de cooptation dédiée au secteur de la
							restauration
							<span class="highlight">.</span>
						</h2>
						<div class="social-type-2 d-flex flex-wrap justify-content-center"
							data-aos="zoom-in" data-aos-delay="1300"
							data-aos-easing="ease-in-out" data-aos-duration="700">
							<a class="social-box facebook-h"
								href="https://fr-fr.facebook.com/" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="social-box instagram-h"
								href="https://www.instagram.com/" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
							<a class="social-box twitter-h" href="https://twitter.com/"
								target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="social-box linkedin-h" href="https://fr.linkedin.com/"
								target="_blank">
								<i class="fab fa-linkedin-in"></i>
							</a>
							<a class="social-box google-plus-h"
								href="https://www.google.fr/chrome/?brand=CHBF&amp;ds_kid=43700013088381152&amp;utm_source=bing&amp;utm_medium=cpc&amp;utm_campaign=1005992%20%7C%20Chrome%20Win10%20%7C%20DR%20%7C%20ESS01%20%7C%20EMEA%20%7C%20FR%20%7C%20fr%20%7C%20Desk%20%7C%20BING%20SEM%20%7C%20BKWS%20~%20Google%20KWD%20-%20Exact&amp;utm_term=google&amp;utm_content=Google%20-%20Exact&amp;gclid=CJir-qy7mOQCFdEaGwodtkwOmg&amp;gclsrc=ds"
								target="_blank">
								<i class="fab fa-google-plus-g"></i>
							</a>

						</div>
					</div>
					<div class="angle-down" data-aos="zoom-in" data-aos-delay="1300"
						data-aos-anchor=".hero-header" data-aos-easing="ease-in-out"
						data-aos-duration="700">
						<p>Nos offres</p>
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>
				</section>

				<!-- [7] About Section -->
			 <section class="blog-section large-section gray-section">
        <div class="container-fluid blog-layout-sidebar-wrapper">
          <div class="row blog-layout-sidebar">
            <div class="col-xl-9 blog-list-side">
              <div>
                <h:panelGroup layout="block" id="toto">
                  <ui:repeat var="offre" value="#{managedBeanOffre.listeOffre}">
                    <div class="post-list" data-aos="fade-up" data-aos-delay="100"
                      data-aos-anchor-placement="top-bottom"
                      data-aos-easing="ease-in-out" data-aos-duration="800">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="post-image-side">
                            <a class="img-wrapper">
                              <img src="#{offre.image.url}" alt="image de l'offre"
                                class="img-fluid" />
                            </a>
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="post-content-side">

                            <h:panelGroup
                              style="right: 5px !important; top:0; width: 29px;height: 29px;margin-left: 90%; margin-bottom:60%;position: absolute;z-index: 1;"
                              id="titi"
                              rendered="#{managedBeanPersonne.fonctionnalitesCoopteur() == true}">
                              <h:form>
                              <h:commandLink styleClass="width: 20px; margin-left: 90%; margin-bottom: 20%;" 
                              class="favorite-button #{managedBeanOffre.getClassEtoile(offre)}" action="#{managedBeanOffre.bookMark(offre)}">
                              
                                <span style="height:29px; width: 29px; margin-left: 90%; margin-bottom: 20%;" 
                                class="favorite-button-icon #{managedBeanOffre.getClassEtoile2(offre)} fa-star">
                                
                                 </span>
                              
                               <f:ajax execute="@form" render="titi"></f:ajax>
                                </h:commandLink>
                                

                              </h:form>
                            </h:panelGroup>
                            <div style="top: 0px; position: absolute; z-index: 0;"
                              class="block-chiant">
                              <div
                                class="description-box d-flex align-items-center right-side"
                                style="height: 20px; width: 500px;">
                                <p>
                                  <i class="far fa-clock"></i>
                                  Postée le
                                  <span>#{offre.toStringDatePubli()}</span>
                                  par
                                  <span>#{offre.entreprise.nomEntreprise}</span>
                                </p>
                              </div>

                              <a class="post-title">#{offre.poste.libelle}&nbsp;[H/F]</a>
                              <br />
                              <p>#{offre.typeContrat.libelle} -
                                #{offre.entreprise.adresseSiege.ville.libelle}</p>
                              <p style="text-align: justify; margin-top: 15%"
                                class="post-content">#{offre.toStringMiniDescri()}</p>
                              <h:panelGroup layout="block"
                                styleClass="btn-wrapper d-flex"
                                rendered="#{managedBeanPersonne.fonctionnalitesCoopteur() == true}">
                                <h:commandLink
                                  action="#{managedBeanOffre.GetById(offre.id)}"
                                  class="button-default-black">
                              En savoir plus
                            </h:commandLink>
                              </h:panelGroup>
                              <h:panelGroup layout="block"
                                rendered="#{managedBeanPersonne.dtoPersonne == null}">
                                <a
                                  style="width: 170px !important; cursor: pointer !important; overflow: hidden !important;"
                                  data-toggle="modal" data-target="#consulter">
                                  <div style="width: 170px; !important"
                                    class="btn-wrapper d-flex button-default-black">

                                    En savoir plus</div>
                                </a>

                              </h:panelGroup>
                            </div>
                            <!-- fin btn-wrapper -->
                          </div>
                          <!-- fin col-lg-6 -->
                        </div>
                        <!-- fin row -->

                      </div>
                      <!-- fin post-list -->
                    </div>
                  </ui:repeat>
                </h:panelGroup>
              </div>
              <!-- fin div inutile -->
            </div>
            <!-- fin blog-list -->
            <div class="col-xl-3">
              <aside class="blog-sidebar" data-aos="fade-left"
                data-aos-delay="200" data-aos-anchor-placement="top-bottom"
                data-aos-easing="ease-in-out" data-aos-duration="800">
              <div class="sidebar-widget search-widget">
                <h6 class="sidebar-title">Recherche</h6>


                <div class="sidebar-search-form d-flex">
                  <h:inputText value="#{managedBeanOffre.recherche}" />
                  <h:commandLink action="#{managedBeanOffre.rechercheMulti()}">
                    <button>
                      <i class="fa fa-search"></i>
                      <f:ajax execute="@form" render="toto"></f:ajax>
                    </button>
                  </h:commandLink>
                </div>
                
              </div>
              <h:panelGroup id="savPlus">
                  <div class="sidebar-widget tags-widget">
                    <h6 class="sidebar-title">Types de poste</h6>
                    <h:selectManyCheckbox class="ks-cboxtags"
                      value="#{managedBeanOffre.tmIds}">
                      <f:selectItems value="#{managedBeanOffre.listeTypeMetier}"
                        var="tm" itemLabel="#{tm.libelle}" itemValue="#{tm.id}">
                      </f:selectItems>
                    </h:selectManyCheckbox>
                  </div>

                  <p>
                    <h:commandLink id="voirPlus" title="Voir plus" onclick="afficher_cacher()">plus de critères..
                      <f:ajax event="click"></f:ajax>
                    <i class="fas fa-chevron-down"></i>
                    </h:commandLink>
                    <h:commandLink id="voirMoins" style="display:none" title="Voir moins" onclick="afficher_cacher()">voir moins
                      <f:ajax event="click"></f:ajax>
                      
                    <i class="fas fa-chevron-up"></i>
                    </h:commandLink>
                    <script type="text/javascript">
                    function afficher_cacher()
                    {
                      
                        if(document.getElementById("savoirPlus").style.display=="none")
                        {
                            document.getElementById("savoirPlus").style.display="block";
                            document.getElementById("form-accueil\:voirPlus").style.display="none";
                            document.getElementById("form-accueil\:voirMoins").style.display="block";
                        }
                        else
                        {
                            document.getElementById("savoirPlus").style.display="none";
                            document.getElementById("form-accueil\:voirPlus").style.display="block";
                            document.getElementById("form-accueil\:voirMoins").style.display="none";
                            
                        }
                    }
                    
                    
                    
                    </script>
                  </p>
                  <div id="savoirPlus" style="display: none;">
                    <div class="sidebar-widget recent-posts-widget">
                      <h6 class="sidebar-title">Types d'établissement</h6>
                      <h:selectManyCheckbox class="ks-cboxtags"
                        value="#{managedBeanOffre.teIds}">
                        <f:selectItems value="#{managedBeanOffre.listeTE}" var="te"
                          itemLabel="#{te.libelle}" itemValue="#{te.id}">
                        </f:selectItems>
                      </h:selectManyCheckbox>
                    </div>
                  <div class="sidebar-widget categories-widget">
                    <h6 class="sidebar-title">Types de contrat</h6>
                    <h:selectManyCheckbox class="ks-cboxtags"
                      value="#{managedBeanOffre.tcIds}">
                      <f:selectItems value="#{managedBeanOffre.listeTypeContrat}"
                        var="tc" itemLabel="#{tc.libelle}" itemValue="#{tc.id}">
                      </f:selectItems>
                    </h:selectManyCheckbox>
                  </div>
                  </div>
              </h:panelGroup> 
              </aside>
            </div>
          </div>
        </div>
        </section>
				<!-- [13] Footer -->
			</div>
		</h:form>
	</ui:define>
	<ui:define name="scripts-footer">
		<script src="assets/js/try_animate.min.js"></script>
		<!-- js-files -->
	</ui:define>
</ui:composition>
</html>
