﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	lang="fr">
<ui:composition template="/WEB-INF/Template.xhtml">


<ui:define name="scripts"> 
<title>Coopteur/Entreprise?</title>
    <!-- css-files -->
    <link rel="stylesheet" href="assets/css/styleChoixEspace.css"/>
</ui:define>
<!--
[Contacts]
[1] Page Loader
[2] Navigation-Menu
[3] Page-Header
[4] Pricing table
[5] Call to action
[6] Footer
-->
<ui:define name="content">
<!-- [1] Page Loader -->

<div id="main-wrapper" class="wrapper-hidden z-index-100">
    
    <!-- [4] Pricing table -->
    <section class="pricing-table-type-1 large-section gray-section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider"
                        data-aos="fade-up"
                        data-aos-delay="100"
                        data-aos-anchor-placement="top-bottom"
                        data-aos-easing="ease-in-out"
                            data-aos-duration="700">Êtes-vous...<span class="highlight"></span></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 pricing-table-wrapper active-card ">
                        <a href="Inscription_Particulier_Etape1.xhtml">
                    <div class="pricing-table" data-aos="fade-up"
                         data-aos-delay="100" data-aos-anchor-placement="top-bottom"
                         data-aos-easing="ease-in-out" data-aos-duration="700">
                        <div class="pricing-header">
                            <h3 class="pricing-type">Un coopteur?</h3>
                        </div>
                        <div class="pricing-logos">
                            <h1>
                                <i style="color: black" class="fas fa-hands-helping"></i>
                            </h1>
                        </div>
                    </div> 
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 pricing-table-wrapper active-card ">
                        <a href="Inscription_entreprise_etape1.xhtml">
                    <div class="pricing-table" data-aos="fade-up"
                         data-aos-delay="200" data-aos-anchor-placement="top-bottom"
                         data-aos-easing="ease-in-out" data-aos-duration="700">
                        <div class="pricing-header">
                            <h3 class="pricing-type">Une entreprise?</h3>
                        </div>
                        <div class="pricing-logos">
                            <h1>
                                <i style="color: black" class="fas fa-building"></i>
                            </h1>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
        </section> 
</div>
</ui:define>
<ui:define name="scripts-footer">
<!-- js-files -->
<!-- JQuery -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- AOS -->
<script src="assets/js/aos.min.js"></script>
<!-- Parallax -->
<script src="assets/js/parallax.min.js"></script>
<!-- Progress Bars -->
<script src="assets/js/progressbar.min.js"></script>
<!-- Magnific -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Three -->
<script src="assets/js/three.min.js"></script>
<!-- Projector -->
<script src="assets/js/projector.min.js"></script>
<!-- Renderer -->
<script src="assets/js/canvas-renderer.min.js"></script>
<!-- ImageLoaded -->
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<!-- Anime -->
<script src="assets/js/anime.min.js"></script>
<!-- Isotope -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!-- TweenLite -->
<script src="assets/js/TweenMax.min.js"></script>
<!-- Hover3D -->
<script src="assets/js/jquery.hover3d.min.js"></script>
<!-- EasePack -->
<script src="assets/js/EasePack.min.js"></script>
<!-- Particles -->
<script src="assets/js/particles.min.js"></script>
<!-- JSColor -->
<script src="assets/js/jscolor.min.js"></script>
<!-- YoutubeBackground -->
<script src="assets/js/jquery.youtubebackground.min.js"></script>
<!-- Waypoints -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<!-- Swiper -->
<script src="assets/js/swiper.min.js"></script>
<!-- Main JS-file -->
<script src="assets/js/main.js"></script>
</ui:define>
</ui:composition>
</html>
