<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">
<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<title>#{managedBeanOffre.titrePoste}[H/F]</title>

		<link rel="stylesheet" href="assets/css/styleConsultation_Offre.css" />

	</ui:define>

	<ui:define name="content">
		<div class="modal fade container" id="exampleModalCenter"
			tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<h:form id="coopter">
					<div class="modal-content">
						<div class="modal-header bg-danger">
							<h5 class="modal-title" id="exampleModalLongTitle">Coopter
								un candidat</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<a class="blockquote-type-1">Entrez l'adresse e-mail du
							candidat que vous souhaitez coopter :</a>
						<h:outputLabel
							style="font-size: smaller; text-align: center;"
							id="messageInfo" value="#{managedBeanSuiviCooptation.message}" />
						<div class="modal-body">
							<h:inputText value="#{managedBeanSuiviCooptation.mail}"
								class="form-control" a:placeholder="Adresse e-mail"
								a:required="true" a:type="email" />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Fermer</button>
							<h:commandButton class="btn btn-primary border-danger bg-danger"
								value="Recommander !"
								action="#{managedBeanSuiviCooptation.addSuiviCooptation(managedBeanOffre.offreDto.id, managedBeanPersonne.dtoPersonne.id)}"
								update="messageInfo">
								<f:ajax execute="@form" render="@form" />
							</h:commandButton>
						</div>
					</div>
				</h:form>
			</div>
		</div>
		<section
			class="tabs-section-type-2 tabs-creative large-section gray-section bg-attachment-fixed bg_img"
			style="background-image: url('assets/img/assets/cubes.png'); margin-top:5%;">
		<div class="container">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<h2 class="section-title text-center title-divider"
						data-aos="fade-up" data-aos-delay="100"
						data-aos-anchor-placement="top-bottom"
						data-aos-easing="ease-in-out" data-aos-duration="700">
						#{managedBeanOffre.titrePoste}[H/F]
						<span class="highlight">.</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div style="flex-wrap: nowrap !important;" class="row">
				<div class="col-lg-8 col-12 d-flex align-items-center"
					style="margin-left: -15%;">
					<div class="img-wrapper">
						<img src="#{managedBeanOffre.image}" alt="s" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-6 content-side" data-aos="fade-left"
					data-aos-delay="200" data-aos-anchor-placement="top-bottom"
					data-aos-easing="ease-in-out" data-aos-duration="600">
					<div class="tabs-section-type-2">
						<div class="container">
							<div class="tabs-wrapper">
								<div class="row">
									<div class="col tabs-header d-flex justify-content-center">
										<div class="tab-trigger-wrapper">
											<div class="tab-trigger active" data-tab=".tab-body-6">
												<i class="far fa-file-alt"></i>
												<h6>Description</h6>
											</div>
										</div>
										<div class="tab-trigger-wrapper">
											<div class="tab-trigger" data-tab=".tab-body-7">
												<i class="fas fa-question-square"></i>
												<h6>Informations importantes</h6>
											</div>
										</div>
										<div class="tab-trigger-wrapper">
											<div class="tab-trigger" data-tab=".tab-body-8">
												<i class="fas fa-poll-people"></i>
												<h6>Candidat recherché</h6>
											</div>
										</div>
										<div class="tab-trigger-wrapper">
											<div class="tab-trigger" data-tab=".tab-body-9">
												<i class="fas fa-handshake"></i>
												<h6>Recommander</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="tabs-body-wrapper">
									<div class="tab-body tab-body-6 active-body">
										<div style="text-align: justify" class="row">
											<p class="description">#{managedBeanOffre.description}</p>
										</div>
									</div>
									<div class="tab-body tab-body-7">
										<div class="row">
											<ul class="list-ul">
												<li class="list-li">
													<p style="font-weight: bold;" class="description">Type
														de contrat : #{managedBeanOffre.typeContrat}</p>
												</li>
												<li class="list-li">
													<p style="font-weight: bold;" class="description">Tranche
														salariale : #{managedBeanOffre.remuneration}</p>
												</li>
												<li class="list-li">
													<p style="font-weight: bold;" class="description">#{managedBeanOffre.nomEntreprise}</p>
												</li>
												<li class="list-li">
													<p style="font-weight: bold;" class="description">Adresse
														: #{managedBeanOffre.localisation}</p>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-body tab-body-8">
										<div
											style="display: flex !important; justify-content: space-around;"
											class="row">
											<div style="display: block ! important;" class="competences">
												<h5 style="color: #ee3158;">Compétences</h5>
												<ul class="list-ul">
													<h:form>
														<ui:repeat var="competence"
															value="#{managedBeanOffre.competences}">
															<li>
																<p style="font-weight: bold;" class="description">#{competence.libelle}</p>
															</li>
														</ui:repeat>
													</h:form>
												</ul>
											</div>

											<div style="display: block ! important;" class="experience">
												<h5 style="color: #ee3158;">Expérience</h5>
												<p style="font-weight: bold;" class="description">#{managedBeanOffre.experience}</p>
											</div>
										</div>

									</div>
									<div class="tab-body tab-body-9">
										<div class="row">
											<h5>Vous souhaitez recommander sur ce poste?</h5>
											<p style="font-weight: bold;">Prime :
												#{managedBeanOffre.prime}</p>
											<br />
											<input style="margin-right: 10%; margin-top: 10%;"
												type="button" class="boutonCoopter" data-toggle="modal"
												data-target="#exampleModalCenter"
												value="Coopter un candidat"> </input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
	<ui:define name="scripts-footer">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</ui:define>

</ui:composition>

</html>
