<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<script src="lib/chart-master/Chart.js"></script>
		<meta name="description" content="" />
		<meta name="author" content="Dashboard" />
		<meta name="keyword"
			content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
		<title>RestoJob - Espace Particulier</title>
		<!-- Bootstrap core CSS -->
		<!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> -->
		<!-- CSS perso -->
		<link href="assets/css/bootstrap.min.projet3.css" rel="stylesheet" />
		<link href="assets/css/perso.css" rel="stylesheet" />
		<script type="text/javascript" src="assets/lib/chart-master/Chart.js"></script>
	</ui:define>
	<ui:define name="content">
		<div id="container">
			<!--main content start-->
			<div id="main-wrapper" class="wrapper-hidden z-index-100 on_wrapper">
				<div class="page-header parallax-window bg_img dark_overlay"
					data-src="assets/img/espaceParticulier.jpg">
					<div class="breadcrumbs-wrapper">
						<div class="breadcrumbs">
							<div class="profile-pic">
								<p>
									<h:graphicImage
										value="#{managedBeanEspaceParticulier.dtoCoopteurProfil.photo.url}"
										alt="photo_profil" class="img-circle" />
								</p>
								<h6>#{managedBeanEspaceParticulier.dtoCoopteurProfil.prenom}
									#{managedBeanPersonne.dtoPersonne.nom}</h6>
								<h6>
									<i class="far fa-hat-chef"></i>
									<i class="far fa-hat-chef"></i>
									<i class="far fa-hat-chef"></i>
								</h6>
							</div>
							<h1 class="title">Votre espace en chiffres</h1>
							<div class="row centered mt mb">
								<div class="col-sm-3">
									<h1 class="title">
										<i class="far fa-money-bill-alt"></i>
									</h1>
									<h3>#{managedBeanEspaceParticulier.calculerSalaire(managedBeanEspaceParticulier.dtoCoopteurProfil.id)} &nbsp;€</h3>
									<p>VOS GAINS A L'ANNÉE</p>
								</div>
								<div class="col-sm-3">
									<h1 class="title">
										<i class="fa fa-trophy"></i>
									</h1>
									<h3>#{managedBeanEspaceParticulier.recommandationsReussies(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}</h3>
									<p>RECOMMANDATIONS RÉUSSIES</p>
								</div>
								<div class="col-sm-3">
									<h1 class="title">
										<i class="fa fa-users"></i>
									</h1>
									<h3>#{managedBeanEspaceParticulier.personnesRecommandees(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}</h3>
									<p>PERSONNES RECOMMANDÉES</p>
								</div>
								<div class="col-sm-3">
									<h1 class="title">
										<i class="fa fa-handshake"></i>
									</h1>
									<h3>#{managedBeanEspaceParticulier.cooptationsEnCours(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}</h3>
									<p>COOPTATIONS EN COURS</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- fin header -->
				<div class="col-lg-12 mt">
					<div class="panel-heading">
						<ul class="nav nav-tabs nav-justified">
							<li class="active">
								<a data-toggle="tab" href="#overview">
									<i class="fa fa-redo"></i>
									Cooptations en cours
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#gestion">
									<i class="fa fa-file"></i>
									Offres enregistrées et réseau
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#contact" class="contact-map">
									<i class="fa fa-chart-bar"></i>
									Statistiques
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#edit">
									<i class="fas fa-pencil-alt"></i>
									Modifier les informations du profil
								</a>
							</li>
						</ul>
					</div>
					<!-- /panel-heading -->
					<div class="panel-body">
						<div class="tab-content">
							<div id="overview" class="tab-pane active">
								<div class="row">
									<div class="col-md-6 detailed">
										<!-- offres publiées -->
										<h4>Cooptations en cours</h4>
										<div class="recent-activity">
											<div class="activity-icon bg-theme04">
												<i class="fa fa-thumbs-up"></i>
											</div>
											<div class="activity-panel">
												<h5>Sélectionné(es)</h5>
												<ui:repeat var="selections"
													value="#{managedBeanEspaceParticulier.listeSelectionsByCoopteur(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}">
													<p>
														#{selections.profil.prenom} #{selections.profil.nom} a été
														sélectionné(e) pour l'offre :
														<a href="#{managedBeanOffre.GetById(selections.offre.id)}">#{selections.offre.poste.libelle}</a>
														, le
														#{managedBeanEspaceParticulier.formatDate(selections.dateSelection)}
													</p>
												</ui:repeat>
											</div>
											<div class="activity-icon bg-theme">
												<i class="fa fa-comments"></i>
											</div>
											<div class="activity-panel">
												<h5>Entretien(s) passé(s)</h5>
												<ui:repeat var="entretiens"
													value="#{managedBeanEspaceParticulier.listeEntretiensByCoopteur(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}">
													<p>
														#{entretiens.profil.prenom} #{entretiens.profil.nom} à
														passé un ou plusieurs entretien(s) pour l'offre :
														<a href="#{managedBeanOffre.GetById(entretiens.offre.id)}">#{entretiens.offre.poste.libelle}</a>
														<ui:repeat var="dates"
															value="#{managedBeanEspaceParticulier.datesEntretiens(entretiens.id)}">, le #{managedBeanEspaceParticulier.formatDate(dates.dateEntretien)}</ui:repeat>
													</p>
												</ui:repeat>
											</div>
											<div class="activity-icon bg-theme02">
												<i class="fa fa-handshake"></i>
											</div>
											<div class="activity-panel">
												<h5>Recruté(es)</h5>
												<ui:repeat var="recrutements"
													value="#{managedBeanEspaceParticulier.listeRecrutementByCoopteur(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}">
													<p>
														#{recrutements.profil.prenom} #{recrutements.profil.nom} a
														été recruté(e) pour l'offre :
														<a
															href="#{managedBeanOffre.GetById(recrutements.offre.id)}">#{recrutements.offre.poste.libelle}</a>
														, le
														#{managedBeanEspaceParticulier.formatDate(recrutements.dateRecrutement)}
													</p>
												</ui:repeat>
											</div>
										</div>
										<!-- /recent-activity -->
									</div>
									<!-- /col-md-6 -->
									<div class="col-md-6 detailed">
										<div>
											<h4 class="centered mb">Accomplissements</h4>
											<div class="col-md-6 réussites">
												<h5>
													<i class="fa fa-angle-right"></i>
													Vos réussites
												</h5>
												<div
													class="counter-box second-side d-flex flex-column align-items-center">
													<p class="title-counter">People loved</p>
													<span class="prop-obj prop-obj2" data-count="256">256</span>
												</div>
											</div>
											<!-- /reussites -->
											<div class="col-md-6 points">
												<h5>
													<i class="fa fa-angle-right"></i>
													Vos points
												</h5>
												<h6 class="centered mb">45/100</h6>
												<div class="progress progress-striped active">
													<div class="progress-bar" role="progressbar"
														aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
														style="width: 45%">
														<span class="sr-only">45% Complete</span>
													</div>
												</div>
												<!-- /points -->
											</div>
											<!-- /col-md-6 -->
											<div class="col-md-12">
												<h5 class="mb">
													<i class="fa fa-angle-right"></i>
													Vos récompenses
												</h5>
												<ul class="list list-type-2 ml-auto mr-auto"
													style="width: 75%">
													<li>Une bouteille de vin</li>
													<li>Prochaine : Un repas pour deux à une grande table</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- /col-md-6 -->
								</div>
								<!-- /OVERVIEW -->
							</div>
							<!-- Gestion des offres - tab-pane -->
							<div id="gestion" class="tab-pane">
								<div class="col-md-6 detailed">
									<!-- /col-lg-6 -->
									<h4 class="centered mb">Mes offres préférées</h4>
									<section class="blog-section"> <h:form id="titi">
										<ui:repeat var="offresFav"
											value="#{managedBeanEspaceParticulier.listeOffresFav(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}">
											<div class="post-list" data-aos="fade-up"
												data-aos-delay="100" data-aos-anchor-placement="top-bottom"
												data-aos-easing="ease-in-out" data-aos-duration="800">
												<div class="row">
													<div class="col-lg-6">
														<div class="post-image-side">
															<a class="img-wrapper">
																<img src="#{offresFav.image.url}" alt="Dobbage"
																	class="img-fluid" />
															</a>
														</div>
														<!-- fin post-image-side -->
													</div>
													<div class="col-lg-6">
														<div class="post-content-side">
															<h:panelGroup
																style="right: 5px !important; top:0; width: 29px;height: 29px;margin-left: 90%; margin-bottom:60%;position: absolute;z-index: 1;"
																rendered="#{managedBeanPersonne.fonctionnalitesCoopteur() == true}">
																<h:commandLink
																	styleClass="width: 20px; margin-left: 90%; margin-bottom: 20%;"
																	class="favorite-button #{managedBeanOffre.getClassEtoile(offresFav)}"
																	action="#{managedBeanOffre.bookMark(offresFav)}">
																	<span
																		style="height: 29px; width: 29px; margin-left: 90%; margin-bottom: 20%;"
																		class="favorite-button-icon #{managedBeanOffre.getClassEtoile2(offresFav)} fa-star">
																	</span>
																	<f:ajax execute="@form" render="titi"></f:ajax>
																</h:commandLink>
															</h:panelGroup>
															<div
																class="description-box d-flex align-items-center right-side">
																<i class="far fa-clock"></i>
																<p>Postée le #{offreFav.datePublication} par
																	#{offresFav.entreprise.nomEntreprise}</p>
															</div>
															<!-- fin description-box -->
															<a class="post-title"
																href="#{managedBeanOffre.GetById(offresFav.id)}">#{offresFav.poste.libelle}</a>
														</div>
														<!-- fin post-content-side -->
													</div>
													<!-- /col-lg-6 -->
												</div>
												<!-- /row -->
											</div>
										</ui:repeat>
									</h:form> </section>
									<!-- fin post-list -->
								</div>
								<!-- fin col-md-6 -->
								<div class="col-md-6 detailed">
									<h4 class="centered mb">Mon réseau</h4>
									<div class="row centered mb">
										<ul class="my-friends">
											<ui:repeat var="reseau"
												value="#{managedBeanEspaceParticulier.profilsAssocies(managedBeanEspaceParticulier.dtoCoopteurProfil.id)}">
												<li>
													<div class="friends-pic">
														<h:graphicImage styleClass="img-circle" width="50"
															height="50" value="#{reseau.photo.url}" />
													</div>
												</li>
											</ui:repeat>
										</ul>
									</div>
									<!-- fin row -->
								</div>
								<!-- fin col-md-6 -->
							</div>
							<!-- /tab-pane -->
							<div id="contact" class="tab-pane">
								<h:panelGroup class="icon-boxes-type-2">
									<div class="row justify-content-center">
										<div
											class="col-md-6 col-xl-4 icon-box-wrapper hover3d-wrapper"
											style="perspective: 1000px; transform-style: preserve-3d;">
											<div
												class="icon-box d-flex flex-column hover3d-child  gray-section"
												style="perspective: 1000px; transform-style: preserve-3d; transform: rotateX(0deg) rotateY(0deg);">
												<h5 class="statistique">Pourcentage de réussite</h5>
												<canvas id="serverstatus01" height="120" width="120"
													style="margin: auto;"></canvas>
												<script type="text/javascript">
                      //   <![CDATA[
                        var doughnutData = [{
                        	  value: 42,
                            color: "#ee3158"
                        },
                        {
                        	  value: 58,
                            color: "#fdfdfd"
                        }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                      // ]]>
                      </script>
												<p class="statistique">42%</p>
												<div class="row"></div>
											</div>
											<!-- /grey-panel -->
										</div>
									</div>
									<!-- /row -->
								</h:panelGroup>
							</div>
							<!-- /tab-pane -->
							<div id="edit" class="tab-pane">
								<form role="form" class="form-horizontal">
									<div class="col-md-6 detailed">
										<fieldset>
											<legend>Informations personnelles</legend>
											<div class="form-group">
												<label class="col-lg-3 control-label">Logo :</label>
												<div class="col-lg-6">
													<input type="file" id="exampleInputFile" class="file-pos" />
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-lg-3">Civilité :</label>
												<div class="col-lg-6 col-md-9">
													<ul class="form-control">
														<li>
															<h:selectOneRadio>
																<f:selectItem itemLabel="M &nbsp;"></f:selectItem>
																<f:selectItem itemLabel="&nbsp;Mme"></f:selectItem>
															</h:selectOneRadio>
														</li>
													</ul>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Nom :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Prénom :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Date de
													naissance :</label>
												<div class="col-lg-6">
													<input type="date" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Fonction :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Description :</label>
												<div class="col-lg-9">
													<textarea rows="10" class="form-control"></textarea>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Téléphone :</label>
												<div class="col-lg-6">
													<input type="tel" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Mail :</label>
												<div class="col-lg-6">
													<input type="email" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Mot de passe :</label>
												<div class="col-lg-6">
													<input type="password" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">LinkedIn :</label>
												<div class="col-lg-6">
													<input type="url" class="form-control" />
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-md-6 detailed">
										<fieldset>
											<legend>Compte bancaire</legend>
											<div class="form-group">
												<label class="col-lg-3 control-label">Titulaire :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">IBAN :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">BIC :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
										</fieldset>
										<fieldset>
											<legend>Adresse du siège</legend>
											<div class="form-group">
												<label class="col-lg-3 control-label">Numéro :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Voie :</label>
												<div class="col-lg-6">
													<select class="form-control">
														<option>Rue</option>
														<option>Avenue</option>
														<option>Chemin</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Nom de
													voie&nbsp;:</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Code postal :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Ville :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Pays :</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" />
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-md-12 centered">
										<fieldset>
											<legend>Informations pour la recommandation</legend>
											<div class="form-group">
												<label class="col-lg-3 control-label">Souhaitez-vous
													être recommandé ?</label>
												<div class="col-lg-6 col-md-9">
													<ul class="form-control">
														<li>
															<h:selectOneRadio>
																<f:selectItem itemLabel="Oui "></f:selectItem>
																<f:selectItem itemLabel="&nbsp;Non"></f:selectItem>
															</h:selectOneRadio>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-6 detailed">
												<div class="form-group">
													<label class="col-lg-4 control-label">Prétentions
														salariales&nbsp;:</label>
													<div class="col-lg-6">
														<select class="form-control"></select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-lg-4 control-label">Années
														d'expérience&nbsp;:</label>
													<div class="col-lg-6">
														<select class="form-control"></select>
													</div>
												</div>
											</div>
											<div class="col-md-6 detailed">
												<div class="form-group">
													<label class="col-lg-4 control-label">Compétences&nbsp;:</label>
													<div class="col-lg-6">
														<select class="form-control"></select>
													</div>
												</div>
												<div class="form-group">
													<div class="competences centered">
														<span class="badge bg-color-pink">Une compétence</span>
														<span class="badge bg-color-pink">Une compétence</span>
														<span class="badge bg-color-pink">Une compétence</span>
													</div>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<div class="col-md-12 centered">
											<h:commandButton class="button-submit" type="submit"
												value="Valider"></h:commandButton>
										</div>
									</div>
								</form>
							</div>
							<!-- /tab-pane -->
						</div>
						<!-- /tab-content -->
					</div>
					<!-- /panel-body -->
				</div>
				<!-- /col-lg-12 -->
			</div>
			<!-- /MAIN CONTENT -->
			<!--main content end-->
			<!--footer start-->
		</div>
	</ui:define>
	<ui:define name="scripts-footer">
		<!-- js placed at the end of the document so the pages load faster -->
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script class="include" type="text/javascript"
			src="lib/jquery.dcjqaccordion.2.7.js"></script>
		<script src="lib/jquery.scrollTo.min.js"></script>
		<script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
		<!--common script for all pages-->
		<script src="lib/common-scripts.js"></script>
		<script type="text/javascript" src="lib/gritter/js/jquery.gritter.js"></script>
		<script type="text/javascript" src="lib/gritter-conf.js"></script>
		<!-- SCRIPTS PERSOS -->
		<script type="text/javascript" src="assets/js/try_animate.min.js"></script>
		<!--script for this page-->
		<script src="assets/lib/sparkline-chart.js" type="text/javascript"></script>
	</ui:define>
</ui:composition>
</html>