<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<meta name="description" content="" />
		<meta name="author" content="Dashboard" />
		<meta name="keyword"
			content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
		<title>RestoJob - Espace Entreprise</title>
		<link href="assets/css/perso.css" rel="stylesheet" />
		<script type="text/javascript" src="assets/lib/chart-master/Chart.js"></script>
	</ui:define>
	<ui:define name="content">

<div class="modal fade bd-example-modal-sm" id="confirmSuivi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        Le suivi de cooptation été mis à jour !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="window.location.reload();" >Fermer</button>
      </div>
    </div>
  </div>
</div>
		<div id="container">
			<!--main content start-->
			<div id="main-wrapper" class="wrapper-hidden z-index-100 on_wrapper">
				<div class="page-header parallax-window bg_img dark_overlay"
					data-src="assets/img/espaceEntreprise.jpg">
					<div class="breadcrumbs-wrapper">
						<div class="breadcrumbs">
							<div class="profile-pic">
								<p>
									<img src="assets/img/logo_royalMonceau_min.jpg"
										class="img-circle" />
								</p>
								<h3>#{managedBeanPersonne.dtoent.nomEntreprise}</h3>
							</div>
							<h1 class="title">Votre espace en chiffres</h1>
							<div class="row centered mt mb">
								<div class="col-sm-6">
									<h1>
										<i class="far fa-copy"></i>
									</h1>
									<h3>#{managedBeanStatistique.nbOffre}</h3>
									<p>OFFRE(S) POSTÉE(S)</p>
								</div>
								<div class="col-sm-6">
									<h1>
										<i class="fa fa-trophy"></i>
									</h1>
									<h3>#{managedBeanStatistique.nbProfilsRecrutes}</h3>
									<p>PROFIL(S) RECRUTÉ(S)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- fin page-header -->
				<div class="col-lg-12 mt" style="background-color: white;">
					<div class="panel-heading">
						<ul class="nav nav-tabs nav-justified">
							<li class="active"><a data-toggle="tab" href="#overview"><i
									class="fa fa-redo"></i> Offres et cooptations en cours</a></li>
							<li><a data-toggle="tab" href="#gestion"><i
									class="fa fa-file"></i> Gestion des offres</a></li>
							<li><a data-toggle="tab" href="#contact" class="contact-map"><i
									class="fa fa-chart-bar"></i> Statistiques</a></li>
							<li><a data-toggle="tab" href="#edit"><i
									class="fas fa-pencil-alt"></i> Modifier les informations du
									profil</a></li>
						</ul>
					</div>
					<!-- /panel-heading -->
					<div class="panel-body">
						<div class="tab-content">
							<div id="overview" class="tab-pane active">
								<div class="row">
									<div class="col-md-6 detailed">
									<!-- offres publiées -->
										<div class="accordion-type-2">
											<h4 class="mb">Offres publiées</h4>
											<div class="row">
												<div class="col accordion-column">
													<div class="accordion-wrapper">
													
													
														<ui:repeat var="offre"
															value="#{managedBeanSuiviCooptation.offres}">
															<div class="accordion">
																<p class="accordion-header">Offre :
																	#{offre.poste.libelle}, postée le :
																	#{offre.toStringDatePubli()}</p>
																<div class="accordion-body">
																	<table class="table-type-1 table-element">
																		<thead>
																			<tr class="centered">
																				<th><i class="fa fa-users"></i> Personnes
																					recommandées</th>
																				<th><i class=" fa fa-edit"></i> Statut</th>
																				<th></th>
																			</tr>
																		</thead>
																		<tbody>
																			<h:form class="form-horizontal style-form"
																				id="form-maj-suivi">
																				<h:panelGroup id="tab-suivi">
																					<ui:repeat var="suivi"
																						value="#{offre.personnesRecommandees}">
																						<tr>
																							<td>
																							<h:commandLink
																									action="#{managedBeanSuiviCooptation.afficherDetails(suivi)}">
																									<img class="img-circle" width="35"
																										src="#{suivi.profil.photo.url}" />
																						      #{suivi.profil.prenom} #{suivi.profil.nom}
																						      <f:ajax execute="@form"
																										render="form-consult-pers"></f:ajax>
																								</h:commandLink></td>
																							<td><h:outputLabel value="#{suivi.etatCooptation.libelle}"  id="toto"/> </td>
																							<td><h:commandLink
																									action="#{managedBeanSuiviCooptation.updateEtatSuiviCooptationSelection(suivi)}" 
																									a:data-toggle="modal" a:data-target="#confirmSuivi">
																									<f:ajax execute="@form" render="toto"></f:ajax>
																									<button class="button-white selection">
																										<i class="fa fa-thumbs-up"></i>
																									</button>
																								</h:commandLink> <h:commandLink action="#{managedBeanSuiviCooptation.updateEntretien(suivi)}" 
																								a:data-toggle="modal" a:data-target="#confirmSuivi">
																									<button class="button-white entretien">
																										<i class="fa fa-comments"> </i>
																									</button>
																									<f:ajax execute="@form" render="tab-suivi"></f:ajax>
																								</h:commandLink> <h:commandLink
																									action="#{managedBeanSuiviCooptation.
                                              updateEtatSuiviCooptationRecrutement(suivi)}" a:data-toggle="modal" a:data-target="#confirmSuivi">
																									<button class="button-white recrutement">
																										<i class="fas fa-handshake"> </i>
																									</button>
																									<f:ajax execute="@form" render="tab-suivi"></f:ajax>
																								</h:commandLink> <h:commandLink
																									action="#{managedBeanSuiviCooptation.
                                                  updateEtatSuiviCooptationPeriodeEssai(suivi)}" a:data-toggle="modal" a:data-target="#confirmSuivi">
																									<button class="button-white validation"
																										title="Valider la période d'essai">
																										<i class="fa fa-check"></i>
																									</button>
																									<f:ajax execute="@form" render="form-maj-suivi"></f:ajax>
																								</h:commandLink></td>
																						</tr>
																					</ui:repeat>
																				</h:panelGroup>
																			</h:form>
																		</tbody>
																	</table>
																</div>
															</div>
														</ui:repeat>
													</div>
													<!-- fin accordion-wrapper -->
												</div>
												<!-- fin accordion-column -->
											</div>
											<!-- fin row -->
										</div>
										
										<!-- fin accordion-type-2 -->
										<!-- /offres publiées -->
									</div>
									<!-- /col-md-6 -->
									<div class="col-md-6 detailed">
										<h4>Détails</h4>
										<!-- Consulter les informations des personnes recommandées -->
										<h:form id="form-consult-pers">
											<h:panelGroup id="consult-pers" layout="block"
												rendered="#{managedBeanSuiviCooptation.filled}">
												<div class="col-md-9">
													<div class="description">
														<div>
															<div class="goleft photo-nom">
																<p>
																	<a href="profile.html"><img
																		src="#{managedBeanSuiviCooptation.sc.profil.photo.url}"
																		class="img-circle" width="100" /></a>
																</p>
																<h5>#{managedBeanSuiviCooptation.sc.profil.prenom}
																	#{managedBeanSuiviCooptation.sc.profil.nom}</h5>
																<span class="badge bg-color-pink">85%</span>
															</div>
															<div class="centered etat-fonction">
																<p class="etat">#{managedBeanSuiviCooptation.sc.etatCooptation.libelle}</p>
																<h3>#{managedBeanSuiviCooptation.sc.profil.fonction}</h3>
															</div>
														</div>
														<p>#{managedBeanSuiviCooptation.sc.profil.presentation}</p>
														<p>
															<i class="fas fa-medal"></i> Compétences
														</p>
														<div class="competences centered">
															<ui:repeat var="niv"
																value="#{managedBeanSuiviCooptation.sc.profil.niveaux}">
																<span class="badge bg-color-pink">#{niv.competence.libelle}</span>
															</ui:repeat>
														</div>
														<p>
															<i class="fas fa-briefcase"></i> Expérience : De
															#{managedBeanSuiviCooptation.sc.profil.experience.anneeMin}
															à
															#{managedBeanSuiviCooptation.sc.profil.experience.anneeMax}
														</p>
														<hr class="contact" />
														<div class="footer centered">
															<div>
																<i class="fas fa-map-marker-alt"></i>
																<p>
																	#{managedBeanSuiviCooptation.sc.profil.adresse.numero}
																	#{managedBeanSuiviCooptation.sc.profil.adresse.voie.type}
																	#{managedBeanSuiviCooptation.sc.profil.adresse.nomVoie}
																</p>
																<p>
																	#{managedBeanSuiviCooptation.sc.profil.adresse.codePostal.libelle}
																	#{managedBeanSuiviCooptation.sc.profil.adresse.ville.libelle}
																</p>
															</div>
															<div>
																<i class="fas fa-mobile-alt"></i>
																<p>#{managedBeanSuiviCooptation.sc.profil.numeroTelephone}</p>
															</div>
															<div>
																<i class="far fa-at"></i>
																<p>#{managedBeanSuiviCooptation.sc.profil.mail}</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="centered">
														<p class="etat">Recommandé par :</p>
														<p>
															<a href="profile.html"><img
																src="#{managedBeanSuiviCooptation.sc.coopteur.photo.url}" class="img-circle"
																width="100" /></a>
														</p>
														<h5>#{managedBeanSuiviCooptation.sc.coopteur.prenom}
															#{managedBeanSuiviCooptation.sc.coopteur.nom}</h5>
														<p>#{managedBeanSuiviCooptation.sc.coopteur.fonction}</p>
														<div class="toques">
															<i class="far fa-hat-chef"></i> <i
																class="far fa-hat-chef"></i> <i class="far fa-hat-chef"></i>
														</div>
													</div>
												</div>
											</h:panelGroup>
										</h:form>
									</div>
									<!-- /col-md-6 -->
								</div>
								<!-- /OVERVIEW -->
							</div>
							<!-- Gestion des offres - tab-pane -->
							<div id="gestion" class="tab-pane">
								<div class="col-md-6 detailed">
									<h:form id="combo">
										<div class="combo centered">
											<h5>Offres en cours</h5>
											<h:selectOneMenu value="#{managedBeanOffre.idOffre}"
												class="btn bg-color-pink">
												<f:selectItem itemLabel="Choisissez une offre" itemValue="0" />
												<f:selectItems value="#{managedBeanPersonne.offres}"
													var="offre"
													itemLabel="#{offre.poste.libelle} H/F #{offre.toStringDatePubli()}"
													itemValue="#{offre.id}" />
												<f:ajax event="change" listener="#{managedBeanOffre.afficherOffre()}"
													render="form-consult-gestion" />
											</h:selectOneMenu>
										</div>
										<div class="combo centered">
											<h5>Offres dépubliées</h5>
											<select class="btn bg-color-pink">
												<option value="0">Choisissez une offre</option>
												<option value="1">Pure CSS</option>
												<option value="2">No JS</option>
												<option value="3">Nice!</option>
											</select>
										</div>
									</h:form>
									<h:form id="form-consult-gestion">
									<h:panelGroup id="consult-gestion" rendered="#{managedBeanOffre.filled}">
										<header class="centered intitule"> <a
											class="post-title">#{managedBeanOffre.titrePoste}</a>
										<button>
											<i class="fas fa-pencil-alt"></i> Modifier
										</button>
										<ul>
											<li><i class="fas fa-map-marker-alt"></i>
												#{managedBeanOffre.localisation}</li>
											<li><i class="fas fa-file-alt"></i>
												#{managedBeanOffre.typeContrat}</li>
											<li><i class="far fa-calendar-alt"></i>
												#{managedBeanOffre.datePubli}</li>
										</ul>
										</header>
										<p class="text-part">#{managedBeanOffre.description}</p>
										<div class="col-md-6">
											<img
												src="#{managedBeanOffre.image}"
												alt="" class="img-fluid" />
										</div>
										<div class="col-md-12">
											<blockquote class="blockquote-type-1">
												<p>Les candidats recrutés seront rémunérés à hauteur de
													:</p>
												<p class="post-title centered">#{managedBeanOffre.remuneration}</p>
											</blockquote>
											<a class="post-title">Compétences attendues</a>
											<div class="tags centered">
												<ui:repeat var="comp"
													value="#{managedBeanOffre.competences}">
													<span class="badge bg-color-pink">#{comp.libelle}</span>
												</ui:repeat>
											</div>
										</div>
									</h:panelGroup>
									</h:form>
								</div>
								<div class="col-md-6">
									<h3 class="mb">
										<i class="fa fa-angle-right"></i> Créer ou modifier une offre
									</h3>
									<h:form class="form-horizontal style-form"
										id="form-creer-offre">
										<div class="form-group">
											<label class="control-label col-md-3"><i
												class="fas fa-user-tie"></i> Poste</label>

											<div class="col-md-9">
												<h:selectOneMenu class="form-control"
													value="#{managedBeanOffre.selectedPoste}">
													<f:selectItems value="#{managedBeanOffre.listePoste}"
														var="p" itemLabel="#{p.libelle}" itemValue="#{p.id}">
													</f:selectItems>
												</h:selectOneMenu>
											</div>

											<!--  <div class="col-md-9">
												<input type="text" class="form-control" />
											</div> -->

										</div>
										<div class="form-group">
											<label class="control-label col-md-3"><i
												class="fas fa-file-alt"></i> Type de contrat</label>
											<div class="col-md-9">
												<br />
												<h:selectOneRadio class="form-control"
													value="#{managedBeanOffre.selectedTC}">
													<f:selectItems
														value="#{managedBeanOffre.listeTypeContratCreation}"
														var="typeContrat" itemLabel="#{typeContrat.libelle}"
														itemValue="#{typeContrat.id}">
													</f:selectItems>
												</h:selectOneRadio>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3"><i
												class="fas fa-clock"></i> Temps de travail</label>
											<div class="col-md-9">
												<br />
												<h:selectOneRadio class="form-control"
													value="#{managedBeanOffre.selectedTT}">
													<f:selectItems
														value="#{managedBeanOffre.listeTempsTravail}" var="tt"
														itemLabel="#{tt.libelle}" itemValue="#{tt.id}"></f:selectItems>
												</h:selectOneRadio>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3"><i
												class="far fa-calendar-alt"></i> Ouverture du poste</label>
											<div class="col-md-9">
												<h:inputText class="form-control " id="username"
													name="username" a:type="date" a:required="true"
													value="#{managedBeanOffre.offreDtoCreation.ouverturePoste}">
													<f:convertDateTime pattern="yyyy-MM-dd" />
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3"><i
												class="fas fa-align-left"></i> Description</label>
											<div class="col-md-9">
												<h:inputTextarea
													value="#{managedBeanOffre.offreDtoCreation.description}"
													class="form-control" rows="10" />
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3"><i
												class="far fa-euro-sign"></i> Rémunération</label> <br />

											<div class="col-md-4">
												<label>Salaire minimum(brut): </label>
												<h:inputText class="form-control"
													value="#{managedBeanOffre.offreDtoCreation.salaire.salaireMin}" />
											</div>
											<div class="col-md-4">
												<label>Salaire maximum(brut): </label>
												<h:inputText class="form-control"
													value="#{managedBeanOffre.offreDtoCreation.salaire.salaireMax}" />
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3"><i
												class="fas fa-briefcase"></i> Expérience</label> <br />

											<div class="col-md-4">
												<label>Années expérience minimum: </label>
												<h:inputText class="form-control"
													value="#{managedBeanOffre.offreDtoCreation.experience.anneeMin}" />
											</div>
											<div class="col-md-4">
												<label>Années expérience maximum: </label>
												<h:inputText class="form-control"
													value="#{managedBeanOffre.offreDtoCreation.experience.anneeMax}" />
											</div>
										</div>
										<h:panelGroup class="form-group" id="competences">
											<label class="control-label col-md-3"><i
												class="fas fa-medal"></i> Compétences</label>
											<div class="col-md-9">
												<h:selectOneMenu class="form-control"
													value="#{managedBeanOffre.selectedCom}">
													<f:selectItems value="#{managedBeanOffre.listeCompetence}"
														var="com" itemLabel="#{com.libelle}" itemValue="#{com.id}">
													</f:selectItems>
												</h:selectOneMenu>
												<h:commandButton class="btn btn-theme04" value="+ajouter"
													action="#{managedBeanOffre.trouverCompetence()}">
													<f:ajax execute="@form" render="competences"></f:ajax>
												</h:commandButton>
											</div>
											<div class="tags centered">
												<ui:repeat var="comp"
													value="#{managedBeanOffre.offreDtoCreation.competences}">
													<h:outputLabel class="badge bg-color-pink">#{comp.libelle}</h:outputLabel>
												</ui:repeat>
											</div>
										</h:panelGroup>
										<div class="form-group centered">
											<h:commandButton class="button-submit" value="Valider"
												action="#{managedBeanOffre.createOffer()}">
												
												
												
												</h:commandButton>
											<!-- 
											<button class="button-submit">Valider</button>
											 -->
										</div>
									</h:form>
								</div>
							</div>
							<!-- /tab-pane -->
							<div id="contact" class="tab-pane">
								<h:panelGroup class="icon-boxes-type-2">
									<div class="row justify-content-center">
										<div
											class="col-md-6 col-xl-4 icon-box-wrapper hover3d-wrapper"
											style="perspective: 1000px; transform-style: preserve-3d;">
											<div class="icon-box d-flex flex-column hover3d-child"
												style="perspective: 1000px; transform-style: preserve-3d; transform: rotateX(0deg) rotateY(0deg);">
												<h5 class="statistique">Pourcentage de réussite</h5>
												<canvas id="serverstatus01" height="120" width="120"
													style="margin: auto;"></canvas>
												<script type="text/javascript">
												 //   <![CDATA[
                            var doughnutData = [{
                        	  value: #{managedBeanStatistique.pourcentageRecrutement},
                            color: "#ee3158"
                        },
                        {
                        	  value: 58,
                            color: "#fdfdfd"
                        }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                      // ]]>
                      </script>
												<p class="statistique">#{managedBeanStatistique.pourcentageRecrutement}&nbsp;%</p>
											</div>
										</div>
										<div
                      class="col-md-6 col-xl-4 icon-box-wrapper hover3d-wrapper"
                      style="perspective: 1000px; transform-style: preserve-3d;">
                      <div class="icon-box d-flex flex-column hover3d-child"
                        style="perspective: 1000px; transform-style: preserve-3d; transform: rotateX(0deg) rotateY(0deg);">
                        <h5 class="statistique">Pourcentage de réussite</h5>
                        <canvas id="pie" height="300" width="400"></canvas>
                        <p class="statistique">#{managedBeanStatistique.pourcentageRecrutement}&nbsp;%</p>
                      </div>
                    </div>
									</div>
									<!-- /row -->
								</h:panelGroup>
							</div>
							<!-- /tab-pane -->
							<div id="edit" class="tab-pane">
								<h:form class="form-horizontal style-form" id="form-modif">
									<div class="col-md-6 detailed">
										<fieldset>
											<legend>Informations de l'entreprise</legend>
											<div class="form-group">
												<label class="col-lg-2 control-label">Logo :</label>
												<div class="col-lg-6">
													<h:inputFile id="exampleInputFile" class="file-pos" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Nom : </label> <label
													class="col-lg-6 control-label">#{managedBeanPersonne.dtoent.nomEntreprise}</label>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">SIRET :</label> <label
													class="col-lg-6 control-label">#{managedBeanPersonne.dtoent.numeroSiret}</label>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Nombre de
													salariés :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.nombreSalaries}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Description :</label>
												<div class="col-lg-10">
													<h:inputTextarea rows="10" class="form-control"
														value="#{managedBeanPersonne.dtoent.description}"></h:inputTextarea>
												</div>
											</div>
										</fieldset>
										<fieldset>
											<legend>Compte bancaire</legend>
											<div class="form-group">
												<label class="col-lg-2 control-label">Titulaire :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.compteBancaire.titulaire}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">IBAN :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.compteBancaire.IBAN}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">BIC :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.compteBancaire.BIC}" />
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-md-6 detailed">
										<fieldset>
											<legend>Informations du référent</legend>
											<div class="form-group">
												<label class="control-label col-lg-2">Civilité :</label>
												<div class="col-lg-6 col-md-9">
													<h:selectOneRadio class="form-control"
														value="#{managedBeanPersonne.idCiv}">
														<f:selectItems value="#{managedBeanPersonne.civilites}"
															var="civ" itemLabel="#{civ.libelle}"
															itemValue="#{civ.id}"></f:selectItems>
													</h:selectOneRadio>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Nom :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.nom}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Prénom :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.prenom}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Fonction :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.fonction}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Téléphone :</label>
												<div class="col-lg-6">
													<h:inputText a:type="tel" class="form-control"
														value="#{managedBeanPersonne.dtoent.numeroTelephone}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Mail :</label>
												<div class="col-lg-6">
													<h:inputText a:type="email" class="form-control"
														value="#{managedBeanPersonne.dtoent.mail}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Mot de passe :</label>
												<div class="col-lg-6">
													<h:inputSecret
														value="#{managedBeanPersonne.dtoent.motPasse}"
														class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">LinkedIn :</label>
												<div class="col-lg-6">
													<h:inputText a:type="url" class="form-control"
														value="#{managedBeanPersonne.dtoent.profilLinkedIn}" />
												</div>
											</div>
										</fieldset>
										<fieldset>
											<legend>Adresse du siège</legend>
											<div class="form-group">
												<label class="col-lg-2 control-label">Numéro :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.adresseSiege.numero}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Voie :</label>
												<div class="col-lg-6">
													<h:selectOneMenu class="form-control"
														value="#{managedBeanPersonne.idVoie}">
														<f:selectItems value="#{managedBeanPersonne.voies}"
															var="voie" itemLabel="#{voie.type}"
															itemValue="#{voie.id}"></f:selectItems>
													</h:selectOneMenu>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Nom de voie :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.adresseSiege.nomVoie}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Code postal :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.adresseSiege.codePostal.libelle}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Ville :</label>
												<div class="col-lg-6">
													<h:inputText class="form-control"
														value="#{managedBeanPersonne.dtoent.adresseSiege.ville.libelle}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Pays :</label>
												<div class="col-lg-6">
													<h:inputText id="pays" class="form-control"
														value="#{managedBeanPersonne.dtoent.adresseSiege.ville.pays.libelle}" />
												</div>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<div class="col-md-12 centered">
											<button class="button-submit" type="submit">Valider</button>
										</div>
									</div>
								</h:form>
							</div>
							<!-- /tab-pane -->
						</div>
						<!-- /tab-content -->
					</div>
					<!-- /panel-body -->
				</div>
			</div>
		</div>
	</ui:define>
	<ui:define name="scripts-footer">
		<!--common script for all pages-->
		<script type="text/javascript"
			src="assets/lib/gritter/js/jquery.gritter.js"></script>
		<script type="text/javascript" src="assets/lib/gritter-conf.js"></script>
		<!--script for this page-->
		<script src="assets/lib/chartjs-conf.js" type="text/javascript"></script>
	</ui:define>
</ui:composition>
</html>