﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">
<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<title>Inscription - Entreprise : étape 2</title>
		<!-- Favicons -->
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!--external css-->
		<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="assets/css/style_perso.css" rel="stylesheet" />
		<link href="assets/css/style-responsive.css" rel="stylesheet" />
	</ui:define>
	<ui:define name="content">
		<section id="container"> <section id="main-content">
		<section class="wrapper">
		<br />
		<h3>
			<i class="fa fa-angle-right"></i>
			S'inscrire
		</h3>
		<div class="row mt">
			<div class="col-lg-12">
				<h4>Etape 2 : information d'entreprise</h4>
				<div class="form-panel">
					<div class="form">
						<h:form class="cmxform form-horizontal style-form" id="signupForm"
							method="get" action="">
							<div class="form-group ">
								<label for="nomentreprise" class="control-label col-lg-2">Nom
									de l'entreprise : </label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="nomentreprise"
										name="nomentreprise" a:required="true" value="#{managedBeanEntreprise.ent.nomEntreprise}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="siret" class="control-label col-lg-2">Numéro
									de siret : </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="siret" name="siret"
										a:required="true" value="#{managedBeanEntreprise.ent.numeroSiret}"/>
								</div>
							</div>
							<div class="form-group ">
								<br />
								<label for="adresse" class="control-label col-lg-2">ADRESSE
									DU SIEGE </label>
							</div>
							<div class="form-group ">
								<label for="numero" class="control-label col-lg-2">Numéro
									: </label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="numero" name="numero"
										a:required="true" value="#{managedBeanEntreprise.ent.adresseSiege.numero}"/>
								</div>
							</div>
							<div class="form-group ">
								<label for="typevoie" class="control-label col-lg-2">Type
									de voie : </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="typevoie"
										name="typevoie" a:placeholder="rue, boulevard...etc"
										a:required="true" value="#{managedBeanEntreprise.ent.adresseSiege.voie.type}"/>
								</div>
							</div>
							<div class="form-group ">
								<label for="complementadresse" class="control-label col-lg-2">Complément
									d'adresse : </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="complementadresse"
										name="complementadresse" value="#{managedBeanEntreprise.ent.adresseSiege.nomVoie}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="codepostal" class="control-label col-lg-2">Code
									postal : </label>
								<div class="col-lg-10">
									<h:inputText class="form-control" id="codepostal"
										name="codepostal" a:required="true" value="#{managedBeanEntreprise.ent.adresseSiege.codePostal.libelle}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="ville" class="control-label col-lg-2">Ville
									: </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="ville" name="ville"
										a:required="true" value="#{managedBeanEntreprise.ent.adresseSiege.ville.libelle}"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<h:commandButton onclick="history.go(-1)" class="btn btn-theme" value="Précédent"/>
									&nbsp;
									<h:commandButton class="btn btn-theme" value="Suivant" action="Inscription_entreprise_etape3.xhtml"/>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
		</section> </section> </section>
	</ui:define>
	<ui:define name="scripts-footer">
		<script src="lib/common-scripts.js"></script>
	</ui:define>
</ui:composition>
</html>
