﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">
<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<title>Inscription - Entreprise : étape 3</title>
		<!-- Favicons -->
		<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!--external css-->
		<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="assets/css/style_perso.css" rel="stylesheet" />
		<link href="assets/css/style-responsive.css" rel="stylesheet" />
	</ui:define>
	<ui:define name="content">
		<h:form>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalCenterTitle"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header bg-danger">
							<h5 class="modal-title" id="exampleModalLongTitle">Confirmer
								la création du compte</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">Voulez-vous confirmer votre
							inscription en tant qu'entreprise ? Vous serez redirigé vers la
							page d'accueil.</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Annuler</button>
							<h:commandButton process=":signupForm" ajax="false"
								action="#{managedBeanEntreprise.creerCompteEntreprise()}"
								value="Confirmer"
								class="btn btn-primary bg-danger border border-danger"></h:commandButton>
						</div>
					</div>
				</div>
			</div>
			<section id="container"> <section id="main-content">
			<section class="wrapper"> <br />
			<h3>
				<i class="fa fa-angle-right"></i> S'inscrire
			</h3>
			<!-- /form-panel --> <!-- /col-lg-12 --> <!-- /row -->
			<div class="row mt">
				<div class="col-lg-12">
					<h4>Etape 3 : contact</h4>
					<div class="form-panel">
						<div class="form">
							<div class="cmxform form-horizontal style-form" id="signupForm">
								<div class="form-group ">
									<label for="civilite" class="control-label col-lg-2">Civilité
										: </label>
									<div class="col-lg-10">
										<h:selectOneRadio class="no-custom"
											value="#{managedBeanEntreprise.ent.civilite.id}">
											<br />
											<f:selectItem itemValue="1"
												itemLabel="&nbsp; Monsieur &nbsp;" />
											<f:selectItem itemValue="2" itemLabel="&nbsp; Madame" />
										</h:selectOneRadio>

									</div>
								</div>
								<div class="form-group ">
									<label for="nomcontact" class="control-label col-lg-2">Nom
										: </label>
									<div class="col-lg-10">
										<h:inputText class=" form-control" id="nomcontact"
											name="nomcontact" a:required="true"
											value="#{managedBeanEntreprise.ent.nom}" />
									</div>
								</div>
								<div class="form-group ">
									<label for="prenom" class="control-label col-lg-2">Prénom
										: </label>
									<div class="col-lg-10">
										<h:inputText class="form-control" id="prenom" name="prenom"
											a:required="true"
											value="#{managedBeanEntreprise.ent.prenom}" />
									</div>
								</div>
								<div class="form-group ">
									<label for="numero" class="control-label col-lg-2">Fonction
										: </label>
									<div class="col-lg-10">
										<h:inputText class="form-control" id="fonction"
											name="fonction" a:placeholder="Chef du service . . . "
											a:required="true"
											value="#{managedBeanEntreprise.ent.fonction}" />
									</div>
								</div>
								<div class="form-group ">
									<label for="numerotelephone" class="control-label col-lg-2">Numéro
										de téléphone : </label>
									<div class="col-lg-10">
										<h:inputText class="form-control " id="numerotelephone"
											name="numerotelephone" a:required="true"
											value="#{managedBeanEntreprise.ent.numeroTelephone}" />
									</div>
								</div>
								<div class="form-group ">
									<label for="agree" class="control-label col-lg-2 col-sm-3">Accepter
										notre CGU</label>
									<div class="col-lg-10 col-sm-9">
										<h:selectBooleanCheckbox style="width: 20px"
											class="checkbox form-control" id="agree" name="agree"
											a:required="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<h:commandButton onclick="history.go(-1)"
											class="btn btn-theme" value="Précédent"></h:commandButton>
										&nbsp; <input type="button" class="btn btn-theme"
											value="Valider" data-toggle="modal"
											data-target="#exampleModalCenter" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</section> </section> </section>
		</h:form>
	</ui:define>
	<ui:define name="scripts-footer">
		<script src="lib/common-scripts.js"></script>
	</ui:define>
</ui:composition>
</html>
