﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">

<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="Dashboard" />
		<meta name="keyword"
			content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
		<title>Inscription - Particulier : étape 2</title>

		<!-- Favicons -->
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!--external css-->
		<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="assets/css/style_perso.css" rel="stylesheet" />
		<link href="assets/css/style-responsive.css" rel="stylesheet" />



	</ui:define>

	<ui:define name="content">
		<section id="container"> <section id="main-content">
		<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> S'inscrire
		</h3>

		<div class="row mt">
			<div class="col-lg-12">
				<h4>Etape 2 : Comment vous contacter?</h4>
				<div class="form-panel">
					<div class="form">
						<h:form class="cmxform form-horizontal style-form"
							id="signupForm1" method="get" action="">
							<div class="form-group ">
								<label for="nomentreprise" class="control-label col-lg-2">Email
									: </label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="nomentreprise"
										name="nomentreprise" a:required="true" a:type="email"
										value="#{managedBeanCoopteurProfil.particulier.mail}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="siret" class="control-label col-lg-2">Téléphone
									: </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="telephone"
										name="telephone" a:required="true"
										value="#{managedBeanCoopteurProfil.particulier.numeroTelephone}" />
								</div>
							</div>
							<div class="form-group ">
								<br /> <label for="adresse" class="control-label col-lg-2">ADRESSE
									POSTALE </label>
							</div>
							<div class="form-group ">
								<label for="numero" class="control-label col-lg-2">Numéro
									: </label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="numero" name="numero"
										a:required="true"
										value="#{managedBeanCoopteurProfil.particulier.adresse.numero}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="typevoie" class="control-label col-lg-2">Type
									de voie : </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="typevoie"
										name="typevoie" placeholder="rue, boulevard...etc"
										a:required="true"
										value="#{managedBeanCoopteurProfil.particulier.adresse.voie.type}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="complementadresse" class="control-label col-lg-2">Complément
									d'adresse : </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="complementadresse"
										name="complementadresse" a:required="true"
										value="#{managedBeanCoopteurProfil.particulier.adresse.nomVoie}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="codepostal" class="control-label col-lg-2">Code
									postal : </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="codepostal"
										name="codepostal" a:required="true"
										value="#{managedBeanCoopteurProfil.particulier.adresse.codePostal.libelle}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="ville" class="control-label col-lg-2">Ville
									: </label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="ville" name="ville"
										a:required="true"
										value="#{managedBeanCoopteurProfil.particulier.adresse.ville.libelle}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<h:commandButton class="btn btn-theme04" type="submit"
										value="Précédent" onclick="history.go(-1)"></h:commandButton>
									&nbsp;
									<h:commandButton class="btn btn-theme" value="Suivant"
										action="Inscription_Particulier_Etape3.xhtml"></h:commandButton>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
		</section> </section> </section>
	</ui:define>
	<ui:define name="scripts-footer">
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script class="include" type="text/javascript"
			src="lib/jquery.dcjqaccordion.2.7.js"></script>
		<script src="lib/jquery.scrollTo.min.js"></script>
		<script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
		<script src="lib/common-scripts.js"></script>
		<script src="lib/form-validation-script.js"></script>
	</ui:define>
</ui:composition>
</html>
