﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">
<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<title>Inscription - Entreprise : étape 1</title>
		<!-- Favicons -->
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!--external css-->
		<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="assets/css/style_perso.css" rel="stylesheet" />
		<link href="assets/css/style-responsive.css" rel="stylesheet" />
	</ui:define>
	<ui:define name="content">
		<section id="container"> <section id="main-content">
		<section class="wrapper"> <br />
		<h3>
			<i class="fa fa-angle-right"></i>
			S'inscrire
		</h3>
		<div class="row mt">
			<div class="col-lg-12">
				<h4>Etape 1 : s'identifier</h4>
				<div class="form-panel">
					<div class="form">
						<h:form class="cmxform form-horizontal style-form" id="signupForm"
							method="get" action="">
							<div class="form-group ">
								<label for="cemail" class="control-label col-lg-2">E-Mail
									:</label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="cemail" a:type="email"
										name="email" placeholder="ex: toto@hotmail.com "
										a:required="true" value="#{managedBeanEntreprise.ent.mail}"/>
								</div>
							</div>
							<div class="form-group ">
								<label for="motdepasse" class="control-label col-lg-2">Choisissez
									votre mot de passe :</label>
								<div class="col-lg-10">
									<h:inputSecret class="form-control " id="motdepasse"
										name="motdepasse" a:required="true" value="#{managedBeanEntreprise.ent.motPasse}" />
								</div>
							</div>
							<div class="form-group ">
								<label for="motdepasse2" class="control-label col-lg-2">Confirmez
									votre mot de passe :</label>
								<div class="col-lg-10">
									<h:inputSecret class="form-control" id="motdepasse2"
										name="motdepasse2" a:required="true" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<a href="ChoixEspace.xhtml">
										<input type="button" class="btn btn-theme" value="Annuler" />
										&nbsp;
									</a>
									<h:commandButton class="btn btn-theme" value="Suivant"
										action="Inscription_entreprise_etape2.xhtml"></h:commandButton>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
		</section></section> </section>
	</ui:define>
	<ui:define name="scripts-footer">
		<script src="lib/common-scripts.js"></script>
	</ui:define>
</ui:composition>
</html>
