﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">

<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="Dashboard" />
		<meta name="keyword"
			content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
		<title>Inscription - Particulier : étape 1</title>

		<!-- Favicons -->
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!--external css-->
		<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="assets/css/style_perso.css" rel="stylesheet" />
		<link href="assets/css/style-responsive.css" rel="stylesheet" />



	</ui:define>

	<ui:define name="content">
		<section id="container">
		<div class="top-menu">
			<ul class="nav pull-right top-menu">
			</ul>
		</div>

		<section id="main-content"> <section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> S'inscrire
		</h3>
		<div class="row mt">
			<div class="col-lg-12">
				<h4>
					<i class=""></i> Etape 1 : Qui êtes-vous?
				</h4>
				<div class="form-panel">
					<div class="form">
						<h:form class="cmxform form-horizontal style-form" id="signupForm"
							method="get" action="">
							<div class="form-group ">
								<label for="civilite" class="control-label col-lg-2">Civilité
									: </label>
								<div class="col-lg-10">
									<h:selectOneRadio class="no-custom"
										value="#{managedBeanCoopteurProfil.particulier.civilite.id}">
										<br />
										<f:selectItem itemValue="1" itemLabel="&nbsp; Monsieur &nbsp;" />
										<f:selectItem itemValue="2" itemLabel="&nbsp; Madame" />
									</h:selectOneRadio>
								</div>
							</div>
							<div class="form-group ">
								<label for="lastname" class="control-label col-lg-2">Nom
									: </label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="firstname" name="name"
										a:required="true" value="#{managedBeanCoopteurProfil.particulier.nom}"/>
								</div>
							</div>
							<div class="form-group ">
								<label for="lastname" class="control-label col-lg-2">Prénom
									:</label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="lastname"
										name="lastname" a:required="true" value="#{managedBeanCoopteurProfil.particulier.prenom}" />
								</div>
							</div>
							
							<div class="form-group ">
								<label for="username" class="control-label col-lg-2">Date
									de naissance :</label>
								<div class="col-lg-10">
									<h:inputText class="form-control " id="username" name="username"
										a:type="date" a:required="true" value="#{managedBeanCoopteurProfil.particulier.dateNaissance}">
										<f:convertDateTime pattern="yyyy-MM-dd"/></h:inputText>
								</div>
							</div>
							<div class="form-group ">
								<label for="adresse" class="control-label col-lg-2">METIER
								</label>
							</div>
							<div class="form-group ">
								<label for="numero" class="control-label col-lg-2">Fonction
									: </label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="fonction" name="fonction"
										type="text" placeholder="Chef de brigade . . . "
										a:required="true" value="#{managedBeanCoopteurProfil.particulier.fonction}"/>
								</div>
							</div>
							<div class="form-group ">
								<label for="numero" class="control-label col-lg-2">Profil
									LinkedIn : </label>
								<div class="col-lg-10">
									<h:inputText class=" form-control" id="linkedin" name="linkedin"
										 value="#{managedBeanCoopteurProfil.particulier.profilLinkedIn}"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<a href="ChoixEspace.xhtml"> <input type="button"
										class="btn btn-theme" value="Annuler" /> &nbsp;
									</a>
									<h:commandButton class="btn btn-theme" value="Suivant"
										action="Inscription_Particulier_Etape2.xhtml"></h:commandButton>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
		</section> </section> </section>
	</ui:define>
	<ui:define name="scripts-footer">
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script class="include" type="text/javascript"
			src="lib/jquery.dcjqaccordion.2.7.js"></script>
		<script src="lib/jquery.scrollTo.min.js"></script>
		<script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
		<script src="lib/common-scripts.js"></script>
		<script src="lib/form-validation-script.js"></script>
	</ui:define>
</ui:composition>
</html>
