﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr">

<ui:composition template="/WEB-INF/Template.xhtml">
	<ui:define name="scripts">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="Dashboard" />
		<meta name="keyword"
			content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
		<title>Inscription - Particulier : étape 3</title>

		<!-- Favicons -->
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!--external css-->
		<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="assets/css/style_perso.css" rel="stylesheet" />
		<link href="assets/css/style-responsive.css" rel="stylesheet" />



	</ui:define>
	<ui:define name="content">>
	<h:form>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalCenterTitle"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header bg-danger">
							<h5 class="modal-title" id="exampleModalLongTitle">Confirmer
								la création du compte</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">Voulez-vous confirmer votre
							inscription ? Vous serez redirigé vers la page d'accueil.</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Annuler</button>
							<h:commandButton process=":signupForm" ajax="false"
								action="#{managedBeanCoopteurProfil.creerUnCompteParticulier()}"
								value="Confirmer"
								class="btn btn-primary bg-danger border border-danger"></h:commandButton>
						</div>
					</div>
				</div>
			</div>
			<section id="container"> <section id="main-content">
			<section class="wrapper">
			<h3>
				<i class="fa fa-angle-right"></i> S'inscrire
			</h3>
			<div class="row mt">
				<div class="col-lg-12">
					<h4>Etape 3 : Confirmez votre inscription</h4>
					<div class="form-panel">
						<div class="form">
							<div class="cmxform form-horizontal style-form" id="signupForm">
								<div class="form-group ">
									<label for="nomentreprise" class="control-label col-lg-2">Choisissez
										votre mot de passe : </label>
									<div class="col-lg-10">
										<h:inputText class=" form-control" id="mdp" name="mdp"
											a:required="true"
											value="#{managedBeanCoopteurProfil.particulier.motPasse}" />
									</div>
								</div>
								<div class="form-group ">
									<label for="nomentreprise" class="control-label col-lg-2">Confirmez
										votre mot de passe : </label>
									<div class="col-lg-10">
										<h:inputText class=" form-control" id="confirmationmdp"
											name="confirmationmdp" a:required="true" />
									</div>
								</div>
								<div class="form-group ">
									<label for="civilite" class="control-label col-lg-2">Acceptez-vous
										d'être recommandé(e) ? </label>
									<div class="col-lg-10">
										<h:selectOneRadio class="no-custom"
											value="#{managedBeanCoopteurProfil.particulier.veutEtreRecommande}">
											<br />
											<f:selectItem itemValue="#{true}"
												itemLabel="&nbsp; Oui &nbsp; " />
											<f:selectItem itemValue="#{false}" itemLabel="&nbsp; Non " />
										</h:selectOneRadio>
									</div>
								</div>
								<div class="form-group ">
									<label for="civilite" class="control-label col-lg-2">Acceptez-vous
										les CGU ? </label>
									<div class="col-lg-10">
										<label for="radio1">Oui</label> <input name="acceptcgu"
											class="no-custom" id="radio1" type="radio" checked="checked"
											value="2" /> <label for="radio2"> Non</label> <input
											name="acceptcgu" class="no-custom" id="radio2" type="radio"
											value="2" />
									</div>
								</div>
								<div class="form-group ">
									<label for="newsletter" class="control-label col-lg-2">Abonnez-vous
										à notre newsletter ? </label>
									<div class="col-lg-10">
										<label for="radio1">Oui</label> <input name="abonnews"
											class="no-custom" id="radio1" type="radio" checked="checked"
											value="2" /> <label for="radio2"> Non</label> <input
											name="abonnews" class="no-custom" id="radio2" type="radio"
											value="2" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<h:commandButton class="btn btn-theme04" type="submit"
											value="Précédent" onclick="history.go(-1)"></h:commandButton>
										&nbsp; <input type="button" class="btn btn-theme"
											value="Valider" data-toggle="modal"
											data-target="#exampleModalCenter" />

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</section> </section> </section>
		</h:form>
	</ui:define>
	<ui:define name="scripts-footer">
		
	</ui:define>
</ui:composition>
</html>
