﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" lang="fr">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="Dashboard" />
	<meta name="keyword"
		content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
	<title>Dashio - Bootstrap Admin Template</title>

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon" />
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
	<link href="assets/css/Leonard.css" rel="stylesheet" />
	<!-- Bootstrap core CSS -->
	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!--external css-->
	<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<!-- Custom styles for this template -->

	<link href="assets/css/main.css" rel="stylesheet" />
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/Leonard.css" rel="stylesheet" />
	<link href="assets/css/style-responsive.css" rel="stylesheet" />

</h:head>

<h:body>

	<div id="login-page">
		<div class="container">

			<h:form class="form-login2">
				<h2 class="form-login-heading2">Se &nbsp; connecter</h2>

				<div class="login-wrap">
					<h:inputText  class="form-control" placeholder="Identifiant" autofocus="true" value="#{managedBeanPersonne.mail}"/> 
					<br/> 
					<h:inputSecret  class="form-control" placeholder="Mot de passe" value="#{managedBeanPersonne.motPasse}"/> 
					<label class="checkbox"> 
						<span class="pull-right"> 
							<a data-toggle="modal" href="login.html#myModal"> Mot de passe oublié?</a>
						</span>
					</label>
					
					<div class="d-flex justify-content-center btn-wrap">
						<h:commandButton class="button-default-white-3" value="Connexion" type="submit" action="#{managedBeanPersonne.SeConnecter()}">
						<f:ajax render="@form" execute="@form"></f:ajax>
						</h:commandButton>
					</div>

					<br />
					
					<div class="login-social-link centered">
						<p>Se connecter via un réseau social</p>
						<h:commandButton class="btn btn-facebook" type="submit">
							<i class="fa fa-facebook"></i> Facebook
						</h:commandButton>
						<h:commandButton class="btn btn-twitter" type="submit">
							<i class="fa fa-twitter"></i> Twitter
						</h:commandButton>
					</div>
					<div class="registration"> Vous n'avez pas encore de compte ?
							<br /> 
							<a class="" href="#"> Créer un compte </a>
					</div>
				</div>
				<!-- Modal -->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
					tabindex="-1" id="myModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h:commandButton type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</h:commandButton>
								<h4 class="modal-title">Mot de passe oublié ?</h4>
							</div>
							<span>#{managedBeanPersonne.msgErreur}</span> 
							<div class="modal-body">
								<p>Entrez votre adresse e-mail ci-dessous pour réinitialiser
									votre mot de passe.</p>
								<input type="text" name="email" placeholder="Adresse mail"
									autocomplete="off" class="form-control placeholder-no-fix"/>
							</div>
							<div class="modal-footer">
								<h:commandButton data-dismiss="modal" class="btn btn-default"
									type="button">Annuler</h:commandButton>
								<h:commandButton class="btn btn-theme" type="button">Valider</h:commandButton>
							</div>
						</div>
					</div>
				</div>
				<!-- modal -->
			</h:form>
		</div>
	</div>
	<!-- js placed at the end of the document so the pages load faster -->
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<!--BACKSTRETCH-->
	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
	<script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
	<script>
    $.backstretch("assets/img/login-bg.jpg", {
      speed: 500
    });
  </script>
</h:body>

</html>
