<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="Dashboard" />
	<meta name="keyword"
		content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
	<title>Recommander</title>
	<link href="img/favicon.png" rel="icon" />
	<link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
	<link href="css/Leonard.css" rel="stylesheet" />
	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
	<link href="assets/css/Leonard.css" rel="stylesheet" />
	<link href="css/style-responsive.css" rel="stylesheet" />
</h:head>
<h:body>
	<div id="login-page">
		<div class="container">
			<h:form class="form-login2" action="index.html">
				<h2 class="form-login-heading2">Recommander</h2>
				<div class="login-wrap">
					<h:commandButton class="btn btn-theme btn-block" value="CONNEXION"
						action="#{managedBeanSuiviCooptation.addSuiviCooptation()}" />
					<hr />
				</div>
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
					tabindex="-1" id="myModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h:commandButton type="button" class="close"
									data-dismiss="modal" aria-hidden="true">&times;</h:commandButton>
							</div>
							<div class="modal-body">
								<p>Entrez votre adresse e-mail ci-dessous pour réinitialiser
									votre mot de passe.</p>
								<input type="text" name="email" placeholder="Adresse mail"
									autocomplete="off" class="form-control placeholder-no-fix" />
							</div>
							<div class="modal-footer">
								<h:commandButton class="btn btn-theme" value="Valider" type="reset"
									action="#{managedBeanSuiviCooptation.addSuiviCooptation()}" />
							</div>
						</div>
					</div>
				</div>
			</h:form>
		</div>
	</div>
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
	<script>
    $.backstretch("img/login-bg.jpg", {
      speed: 500
    });
  </script>
</h:body>
</html>