﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" lang="fr">


<ui:composition template="/WEB-INF/Template.xhtml">
<ui:define name="scripts">
   <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content="Dashboard"/>
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
  <title>Formulaire - Tags : étape 2</title>

  <!-- Favicons -->
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon"/>
  <!-- Bootstrap core CSS -->
   <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="assets/css/style_perso.css" rel="stylesheet"/>
  <link href="assets/css/style-responsive.css" rel="stylesheet"/>
  
  
</ui:define>
<ui:define name="content">
	<section id="container"> <section id="main-content">
	<section class="wrapper">
	<h3>
		<i class="fa fa-angle-right"></i> Tags
	</h3>


	<div class="row mt">
		<div class="col-lg-12">
			<h4>Les plus-values de votre entreprise</h4>

			<div class="form-panel">
				<div class="form">

					<h:form class="cmxform form-horizontal style-form" id="signupForm"
						method="get" action="">

						<div class="form-group ">
							<br /> <label for="adresse" class="control-label col-lg-3">BIEN-ETRE
								(2/5) </label>
						</div>

						<div class="form-group ">
							<label for="civilite" class="control-label col-lg-3">Accès
								à des installations sportives </label>
							<div class="col-lg-9">
								<label for="radio1">Oui</label> 
								<input name="ad" class="no-custom" id="radio1" type="radio" checked="checked"
									value="2" /> 
									<label for="radio2"> &nbsp; &nbsp; &nbsp; Non</label> 
								<input name="ad" class="no-custom" id="radio2" type="radio"	value="2" />
							</div>
						</div>

						<div class="form-group ">
							<label for="civilite" class="control-label col-lg-3">Actions
								pour encourager l'exercice physique </label>
							<div class="col-lg-9">
								<label for="radio1">Oui</label> 
								<input name="ae" class="no-custom" id="radio1" type="radio" checked="checked"
									value="2" /> 
									<label for="radio2"> &nbsp; &nbsp; &nbsp; Non</label> 
								<input name="ae" class="no-custom" id="radio2" type="radio"
									value="2" />
							</div>
						</div>

						<div class="form-group ">
							<label for="civilite" class="control-label col-lg-3">Accès
								à des installations de bien-être </label>
							<div class="col-lg-9">
								<label for="radio1">Oui</label> 
								<input name="af" class="no-custom" id="radio1" type="radio" checked="checked"
									value="2" /> 
									<label for="radio2"> &nbsp; &nbsp; &nbsp; Non</label> 
								<input name="af" class="no-custom" id="radio2" type="radio"
									value="2" />
							</div>
						</div>

						<div class="form-group ">
							<label for="civilite" class="control-label col-lg-3">Respect
								des temps de congés </label>
							<div class="col-lg-9">
								<label for="radio1">Oui</label> 
								<input name="ag"
									class="no-custom" id="radio1" type="radio" checked="checked" value="2" /> 
									<label for="radio2"> &nbsp; &nbsp; &nbsp; Non</label> 
								<input name="ag" class="no-custom" id="radio2" type="radio"	value="2" />
							</div>
						</div>
						
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                                <h:commandButton class="btn btn-theme04" value="Précédent" onclick="history.go(-1)"></h:commandButton>
                                &nbsp;
                                <h:commandButton class="btn btn-theme" action="tag3.xhtml" value="Valider"></h:commandButton>
                            </div>
                       </div>
                       
				</h:form>
			</div>
		</div>
	</div>
	</div>
	            </section>         
        </section> 
    </section>
</ui:define>
<ui:define name="scripts-footer">
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript"
		src="lib/jquery.dcjqaccordion.2.7.js"></script>
	<script src="lib/jquery.scrollTo.min.js"></script>
	<script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
	<!--common script for all pages-->
	<script src="lib/common-scripts.js"></script>
	<!--script for this page-->
	<script src="lib/form-validation-script.js"></script>
</ui:define>
</ui:composition>

</html>