.form-login2 {
	max-width: 330px;
	margin: 100px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-login2 h2.form-login-heading2 {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #ee3158;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 20px;
}
.login-wrap .registration {
	text-align: center;
}
.login-social-link {
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
}
.d-flex.justify-content-center.btn-wrap {
    clear: both;
}
/*.btn-theme {
  color: #fff;
  background-color:  #ee3158;
  border-color: #48bcb4;
}*/