.favorite-button {
  position: relative;
}
.favorite-button:after, .favorite-button:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: -3px;
  height: 29px;
  width: 29px;
  opacity: 0;
  border-radius: 50%;
}
.favorite-button:hover .favorite-button-icon {
  color: #bbb;
}
.favorite-button--on:before {
  animation: wave-1 0.8s ease-out;
  z-index: 1;
}
.favorite-button--on:after {
  animation: wave-2 0.8s ease-out;
  z-index: 2;
}
.favorite-button--on .favorite-button-icon {
  animation: favorite-star 0.6s linear forwards;
  position: relative;
  z-index: 3;
}
.favorite-button-icon {
  width: 25px;
  font-size: 25px;
  color: #ccc;
  text-align: center;
  float:right;
}
@keyframes favorite-star {
  5% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1.25);
    color: #f9ca06;
  }
  100% {
    transform: scale(1);
    color: #f9ca06;
  }
}
@keyframes wave-1 {
  0% {
    transform: scale(0);
    opacity: 1;
    background-color: #e54444;
  }
  50% {
    background-color: #9b4999;
  }
  80% {
    background-color: #f9ca06;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    background-color: #f9d140;
  }
}
@keyframes wave-2 {
  30% {
    background-color: #e82cb2;
    opacity: 1;
    transform: scale(0);
  }
  70% {
    background-color: #fff;
    opacity: 0.4;
    transform: scale(1.2);
  }
}
